## 1. Setting up

This project was made by group 008:

Afonso Baptista - fc58213
Miguel Borges - fc58187
Miguel Dinis - fc58198
Rafael Correia - fc58256

Antes de correr:
- ler este bloco para ver se alguém deixou notas
- alterar palavras passe marcadas no código
- correr o mongo (atlas) e o SQL (workbench)

Como correr (duas opções):
- Comentar um dos blocos 2.1.1.x e dar run all
- Não comentar nenhum deles e correr bloco a bloco

Depois de correr:
- Fazer "Clear All Outputs"

Questões para perguntar na TP:
- Perguntar se para a base de dados no mongo, vale a pena juntar todos os dados numa collection apenas, adicionando uma lista de goalscorers e uma variavel shootouts, para tornar mais eficiente(Se sim, o que fazer às linhas dos shootouts e goalscorers que não têm match nos results e como aumentar a rapidez disto)
- Perguntar o que fazemos aos minutos que tao nulos e aos shootouts q n têm result
- Uma ideia de como fazer o esquema da base de dados relacional, qual seria a relação

Por fazer:
- tratar os dados dos 3 csvs
- criar as duas queries complexas com operações (INSERT, DELETE, ALERT TABLE)
- criar tabelas relacionais em SQL
- criar um validator das tabelas
- fazer o relatório
- comentar código desorganizado

### 1.1. Imports

In [ ]:
import pandas as pd
import json
from pymongo import MongoClient
from pymongo.server_api import ServerApi
import mysql.connector
import time
from sqlalchemy import create_engine,text
from pymongo import UpdateOne, UpdateMany

### 1.2. Installations

In [ ]:
# pip install pandas  
# pip install pymongo  
# pip install mysql.connector  
# pip install sqlalchemy

## 2. Code

### 2.1.1. MongoDB Database and Collections

In [ ]:
## Connect to MongoDB

# MongoDB do Miguel Dinis
# client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

#Send a ping to the server to check if the connection is working
try:
    client.admin.command('ping')
    print("Connection to MongoDB established")
except Exception as e:
    print("Connection to MongoDB could not be established")
    print(e)


# Drop database if it already exists

client.drop_database("football")
print("Database dropped")

# Create database and collections
# db = client['football']
# collection_results = db["results"]
# collection_goalscorers = db["goalscorers"]
# collection_shootouts = db["shootouts"]

# # Load data from csv files
# df_results = pd.read_csv("results.csv")
# df_goalscorers = pd.read_csv("goalscorers.csv")
# df_shootouts = pd.read_csv("shootouts.csv")

# # Insert data into MongoDB

# collection_results.insert_many(df_results.to_dict('records'))
# collection_goalscorers.insert_many(df_goalscorers.to_dict('records'))
# collection_shootouts.insert_many(df_shootouts.to_dict('records'))

# print("Data inserted into MongoDB")



### Comment the code above and uncomment the code below to insert data into the MongoDB database into a single collection

# # Create database and collections

db = client['football']
db['results'].drop()
collection_results = db["results"]

# # Load data from csv files 

df_goalscorers = pd.read_csv("goalscorers.csv")
df_results = pd.read_csv("results.csv")
df_shootouts = pd.read_csv("shootouts.csv")


# # Insert data into MongoDB

collection_results.insert_many(df_results.to_dict('records'))
print("Results data inserted into MongoDB")

### 2.1.1.1 Inserting into MongoDB without Index

In [ ]:
# #Insert the goalscorers data into MongoDB(the bulk write is to speed up the process and the update_many is because exists games with multiple tournaments)

collection_results.update_many({}, {"$set": {"goalscorers": []}})

goalscorers_group = df_goalscorers.groupby(["date", "home_team", "away_team"]).apply(lambda x: x.to_dict('records')).to_dict()

bulk_operations = []

for (date, home_team, away_team), goalscorers in goalscorers_group.items():
    bulk_operations.append(
        UpdateMany(
            {"date": date, "home_team": home_team, "away_team": away_team},
            {"$push": {"goalscorers": {"$each": goalscorers}}}
        )
    )


if bulk_operations:
    collection_results.bulk_write(bulk_operations)
    print("Goalscorers data inserted into MongoDB")
    
# #Insert the shootouts data into MongoDB

bulk_operations = []

for index, row in df_shootouts.iterrows():
    bulk_operations.append(
        UpdateMany(
            {"date": row["date"], "home_team": row["home_team"], "away_team": row["away_team"]},
            {"$set": {"shootout": {"winner": row["winner"], "first_shooter": row["first_shooter"]}}}
        )
    )
    
if bulk_operations:
    collection_results.bulk_write(bulk_operations)
    print("Shootouts data inserted into MongoDB")

### 2.1.1.2 Inserting into MongoDB with Index

In [ ]:
# Add an index for faster updates

collection_results.create_index([("date", 2), ("home_team", 2), ("away_team", 2)])
print("Indexes created")


# Update goalscorers using bulk_write

goalscorers_group = df_goalscorers.groupby(["date", "home_team", "away_team"])
bulk_operations = []

for (date, home_team, away_team), group in goalscorers_group:
    goalscorers = group.to_dict('records')
    bulk_operations.append(
        UpdateMany(
            {"date": date, "home_team": home_team, "away_team": away_team},
            {"$set": {"goalscorers": goalscorers}}
        )
    )

if bulk_operations:
    collection_results.bulk_write(bulk_operations)
    print("Goalscorers data inserted into MongoDB")


# Update shootouts using bulk_write

bulk_operations = [
    UpdateMany(
        {"date": row["date"], "home_team": row["home_team"], "away_team": row["away_team"]},
        {"$set": {"shootout": {"winner": row["winner"], "first_shooter": row["first_shooter"]}}}
    )
    for _, row in df_shootouts.iterrows()
]

if bulk_operations:
    collection_results.bulk_write(bulk_operations)
    print("Shootouts data inserted into MongoDB")

### 2.1.2. MySQL Database and Collections

In [ ]:
username = 'root'
# Password do Miguel Dinis
# password = "MySQLMD-2024" # ALTERAR
# Password do Rafa
# password = 'olaolaola'
# Password do Afonso
password = '1234'
# Passowrd do Miguel
# password = 'abc123'
host = 'localhost'
port = '3306'
database_name = 'football_db'
table_goalscorers = 'goalscorers'
table_results = 'results'
table_shootouts = 'shootouts'

db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

with engine.connect() as connection:
    connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))
    connection.execute(text(f"CREATE DATABASE {database_name}"))
print(f"Database '{database_name}' created")
    
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

df_goalscorers.to_sql(table_goalscorers, con=engine, if_exists='replace', index=False, method='multi')
df_results.to_sql(table_results, con=engine, if_exists='replace', index=False, method='multi')
df_shootouts.to_sql(table_shootouts, con=engine, if_exists='replace', index=False, method='multi')

print("Data inserted into MySQL")

### 2.2. Defining queries for two simple operations

In [ ]:
queries_nosql = [
    {
        "description": "Games where Portugal scored more than 3 goals after 2003",
        "query": {
            "$and": [
                {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                         {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                {"date": {"$gt": "2003-12-31"}}
            ]
        }
    },
    {
        "description": "Games where Australia and Sweden played against each other",
        "query": {
            "$or": [
                {"home_team": "Australia", "away_team": "Sweden"},
                {"home_team": "Sweden", "away_team": "Australia"}
            ]
        }
    }
]
    
queries_relational = [
            {
                "description": "Games where Portugal scored more than 3 goals after 2003",
                "query": """
                SELECT *
                FROM results
                WHERE (home_team = 'Portugal' AND home_score > 3) OR (away_team = 'Portugal' AND away_score > 3) AND date > '2003-12-31';
                """
            },
            {
                "description": "Games where Australia and Sweden played against each other",
                "query": """
                SELECT *
                FROM results
                WHERE (home_team = 'Australia' AND away_team = 'Sweden') OR (home_team = 'Sweden' AND away_team = 'Australia');
                """
            }
        ]

### PRINTS IN 2.5 AND 2.6 ###

# EXTRA: IF NEEDED
# queries_pandas = [
#     {"description": "Select all the games where Portugal scored more than 3 goals after 2003", 
#      "query": lambda d: d[((d['home_team'] == 'Portugal') & (d['home_score'] > 3)) |
#                           ((d['away_team'] == 'Portugal') & (d['away_score'] > 3)) & 
#                           (d['date'] > '2003-12-31')],
#     },
    
#     {"description": "Select all the games where Australia and Sweden played against each other", 
#      "query": lambda d: d[((d['home_team'] == 'Australia') & (d['away_team'] == 'Sweden')) | 
#                           ((d['home_team'] == 'Sweden') & (d['away_team'] == 'Australia'))]}
# ]

#print("Results for pandas queries:")
# for q in queries_pandas:
#     result = q["query"](df_results)
#     print(q["description"])
#     print(result)   
# print("\n--------------\n")

### 2.3. Defining queries for two complex operations

In [ ]:
# 3. date | home_team | away_team | winner | first_shooter | - | shootouts
# 
# Highest scoring game and top scorer (uses data from results table and goalscorers table)
q_relational = [ 
            {
                "description": "Highest scoring game and top scorers, grouped by team and ordered by goals",
                "query": """
                WITH TeamHighScores AS (
                    SELECT home_team AS team, date, home_score + away_score AS total_score, 
                        away_team AS opponent
                    FROM results
                    UNION ALL
                    SELECT away_team AS team, date, home_score + away_score AS total_score, 
                        home_team AS opponent
                    FROM results
                ),
                MaxScores AS (
                    SELECT team, MAX(total_score) AS max_score
                    FROM TeamHighScores
                    GROUP BY team
                ),
                HighScoringGames AS (
                    SELECT ths.team, ths.date, ths.total_score, ths.opponent
                    FROM TeamHighScores ths
                    JOIN MaxScores ms ON ths.team = ms.team AND ths.total_score = ms.max_score
                )
                SELECT hsg.team, hsg.date, hsg.opponent, hsg.total_score, gs.scorer, COUNT(gs.scorer) AS goals
                FROM HighScoringGames hsg
                JOIN goalscorers gs 
                ON hsg.date = gs.date AND 
                ((hsg.team = gs.home_team AND hsg.opponent = gs.away_team) OR 
                    (hsg.team = gs.away_team AND hsg.opponent = gs.home_team))
                GROUP BY hsg.team, hsg.date, hsg.opponent, hsg.total_score, gs.scorer
                ORDER BY hsg.team, goals DESC;
                """
            }
    # TODO: create another query for NoSQL that uses the shootouts table and one of the others, or both.
]


# with engine.connect() as connection:
#     for q in q_relational:
#         result = connection.execute(text(q))
#         results = result.fetchall()
#         print(q["description"])
        # for row in results:
        #     print(row)

    # Or print each row in a readable format
    #print("Highest scoring games and top scorers, grouped by team and ordered by goals:")
    # for row in rows:
    #     print(f"Team: {row.team}, Date: {row.date}, Opponent: {row.opponent}, "
    #           f"Total Score: {row.total_score}, Top Scorer: {row.scorer}, Goals: {row.goals}")
                
        
# MongoDB aggregation pipeline for highest scoring game and top scorer

pipeline = [
    {"$addFields": {"total_score": {"$add": ["$home_score", "$away_score"]}}},
    {"$group": {
        "_id": {"team": "$home_team"},
        "max_score": {"$max": "$total_score"},
        "match": {"$first": "$$ROOT"}
    }},
    {"$lookup": {
        "from": "goalscorers",
        "let": {"date": "$match.date", "home_team": "$match.home_team", "away_team": "$match.away_team"},
        "pipeline": [
            {"$match": {
                "$expr": {
                    "$and": [
                        {"$eq": ["$date", "$$date"]},
                        {"$or": [
                            {"$and": [{"$eq": ["$home_team", "$$home_team"]}, {"$eq": ["$away_team", "$$away_team"]}]},
                            {"$and": [{"$eq": ["$home_team", "$$away_team"]}, {"$eq": ["$away_team", "$$home_team"]}]}
                        ]}
                    ]
                }
            }},
            {"$group": {"_id": "$scorer", "goals": {"$sum": 1}}},
            {"$sort": {"goals": -1}},
            {"$limit": 1}
        ],
        "as": "top_scorer"
    }}
]
result = list(collection_results.aggregate(pipeline))

# Print each document in a readable format
print("Highest Scoring Games and Top Scorers in MongoDB:")
for doc in result:
    match = doc.get("match", {})
    
    top_scorer = doc.get("top_scorer", [])
    if top_scorer:
        top_scorer_info = top_scorer[0]
        scorer_name = top_scorer_info.get("_id", "")
        goals = top_scorer_info.get("goals", 0)
    else:
        scorer_name = "No scorer data"
        goals = 0

    ### PRINTS ###
    # print(f"Team: {match.get('home_team', '')}, Date: {match.get('date', '')}, "
    #       f"Opponent: {match.get('away_team', '')}, Total Score: {doc.get('max_score', '')}, "
    #       f"Top Scorer: {scorer_name}, Goals: {goals}")


# TODO: outra query complexa em NoSQL e relational database

### 2.4. Defining Relational Schema

In [ ]:
# Define the relational schema :
# a. You can draw an Entity-Relationship model
# b. You can draw a Relational Diagram
# c. You MUST write the CREATE TABLES statements

### 2.5. Relational MySQL Database
Here we are going to build a relational database in MySQL to store the data and implement the operations designed in 2.2 and 2.3.

In [ ]:
# TODO: fazer para as complexas

with engine.connect() as connection:
    for q in queries_relational: 
        result = connection.execute(text(q["query"]))
        results = result.fetchall()
        print(q["description"])
        for row in results:
            print(row)
        print("\n------------------------------------------------------------------------------------\n")

### 2.6. NoSQL Database
Here we are going to build a NoSQL database in MongoDB to store the data and implement operations designed in 2.2 and 2.3.

In [ ]:
# TODO: fazer para as complexas

for q in queries_nosql:
    results = collection_results.find(q["query"])
    print(f"Results for NoSQL - {q['description']}:")
    for result in results:
        print(result)      
    print("\n------------------------------------------------------------------------------------\n")

### 3. Ending Connection

In [ ]:
client.close()