# BASE DE DADOS AVANÃ‡ADAS

This project was made by group 008:

Afonso Baptista - fc58213 \
Miguel Borges - fc58187 \
Miguel Dinis - fc58198 \
Rafael Correia - fc58256

# Imports

In [ ]:
import pandas as pd
from pymongo import MongoClient
import random
import datetime
import mysql.connector
from sqlalchemy import create_engine, text

## Clean the data

Analyzing the data, we can see that some of the data is missing. Some of the rows on goalscores.csv are missing the 'minute' column. We will remove these rows from the data.

On the other hand, shootouts.csv has missing values in the column 'first_shooter', but it is around 64% of the data, so it is not a good idea to remove it. Instead, we can fill it with random values between the two teams that are playing the match.

We also see that the types of the columns are not correct. We can see that the columns that should be dates are objects. We will convert the columns to the correct types.

In [ ]:

# Load the csvs files into dataframes

df_results = pd.read_csv('results.csv')
df_goalscorers = pd.read_csv('goalscorers.csv')
df_shootouts = pd.read_csv('shootouts.csv')

# Remove the rows with NaN values from goalscorers dataframe

df_goalscorers = df_goalscorers.dropna()

# Substitute the NaN values in the shootouts dataframe on the 'first_shooter' withe a random team between the two teams that played the match

for index, row in df_shootouts.iterrows():
    if pd.isna(row['first_shooter']):
        df_shootouts.at[index, 'first_shooter'] = random.choice([row['home_team'], row['away_team']])
        
# Convert the datatypes that are objects to datetime

columns_to_convert_to_datetime = ['date']

for column in columns_to_convert_to_datetime:
    if column in df_results.columns:
        df_results[column] = pd.to_datetime(df_results[column])
    if column in df_goalscorers.columns:
        df_goalscorers[column] = pd.to_datetime(df_goalscorers[column])
    if column in df_shootouts.columns:
        df_shootouts[column] = pd.to_datetime(df_shootouts[column])

print(df_results.head(10))
print(df_goalscorers.head(10))
print(df_shootouts.head(10))

# MONGODB

## Connections to MongoDB

In [ ]:
# MongoDB do Miguel Dinis
client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
#client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

## Schema for the database

In [ ]:
schema_validator = {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Schema for the results of the matches",
        "required": [
            "date",
            "home_team",
            "away_team",
            "home_score",
            "away_score",
            "tournament",
            "city",
            "country",
            "neutral",
            "goalscorers",
        ],
        "properties": {
            "date": {
                "bsonType": "date",
                "description": "Must be a date representing the date of the match",
            },
            "home_team": {
                "bsonType": "string",
                "description": "Must be a string representing the home team",
            },
            "away_team": {
                "bsonType": "string",
                "description": "Must be a string representing the away team",
            },
            "home_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the home team score",
            },
            "away_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the away team score",
            },
            "tournament": {
                "bsonType": "string",
                "description": "Must be a string representing the tournament name",
            },
            "city": {
                "bsonType": "string",
                "description": "Must be a string representing the city",
            },
            "country": {
                "bsonType": "string",
                "description": "Must be a string representing the country",
            },
            "neutral": {
                "bsonType": "bool",
                "description": "Must be a boolean indicating if the match was played at a neutral venue",
            },
            "goalscorers": {
                "bsonType": "array",
                "description": "List of goalscorers, can be empty",
                "items": {
                    "bsonType": "object",
                    "required": ["team", "scorer", "minute", "own_goal", "penalty"],
                    "properties": {
                        "team": {
                            "bsonType": "string",
                            "description": "Must be a string representing the team of the scorer",
                        },
                        "scorer": {
                            "bsonType": "string",
                            "description": "Must be a string representing the name of the scorer",
                        },
                        "minute": {
                            "bsonType": "double",
                            "description": "Must be a float representing the minute of the goal",
                        },
                        "own_goal": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was an own goal",
                        },
                        "penalty": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was a penalty",
                        },
                    },
                },
            },
            "shootout": {
                "oneOf": [
                    {
                        "bsonType": "null",
                        "description": "Can be null if no shootout occurred",
                    },
                    {
                        "bsonType": "object",
                        "description": "Optional object for shootout details",
                        "required": ["winner", "first_shooter"],
                        "properties": {
                            "winner": {
                                "bsonType": "string",
                                "description": "Must be a string representing the shootout winner",
                            },
                            "first_shooter": {
                                "bsonType": "string",
                                "description": "Must be a string representing the first shooter",
                            },
                        },
                    },
                ],
            }
        },
    }
}

## Database and Collection creation

In [ ]:
client.drop_database('football') # Drop the database if it already exists

db = client['football'] # Create the database

# Create the collection with the schema validator

try:
    collection_results = db.create_collection('football_results', validator={'$jsonSchema': schema_validator['$jsonSchema']}) 
except Exception as e:
    print(e)

## Data insertion

First we need to put together all the dataframes into a single one, inserting the goalscorers and shootout details into one dataframe. After that we can insert the data into the MongoDB collection.

Obs: We saw that exists 2 shootouts there are not in the results.csv file, so we will not insert them in the database, because if we dont have the match itself, we thought that it would not make sense to insert the shootout in the database.

In [ ]:
# Create the dataframe to insert into the database

df_matches = df_results.copy(deep=True)

# Group the goalscorers by date, home_team, away_team and put each goalscorer in a object with the team, scorer, minute, own_goal and penalty fields in a list 

grouped_goalscorers = df_goalscorers.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: x[['team', 'scorer', 'minute', 'own_goal', 'penalty']].to_dict(orient='records'), include_groups = False
).reset_index(name='goalscorers')

# Merge the grouped goalscorers with the matches dataframe

df_matches = pd.merge(df_matches, grouped_goalscorers, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with an empty list

df_matches['goalscorers'] = df_matches['goalscorers'].apply(lambda x: [] if isinstance(x, float) and pd.isna(x) else x)

# Group the shootouts by date, home_team, away_team and put the winner and first_shooter in a object

grouped_shootouts = df_shootouts.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: {
        'winner': x['winner'].iloc[0],
        'first_shooter': x['first_shooter'].iloc[0]
    }, 
    include_groups = False
).reset_index(name='shootout')

# Adding the column shootout to the dataframe

df_matches = pd.merge(df_matches, grouped_shootouts, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with None

df_matches['shootout'] = df_matches['shootout'].apply(lambda x: None if isinstance(x, float) and pd.isna(x) else x)

# Insert the data into the database

collection_results.insert_many(df_matches.to_dict(orient='records'))

# Queries on MongoDB

## Two simple queries on MongoDB

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Querie 1

# We need to convert the date to a datetime object to compare it with the date_limit
date_limit = datetime.datetime(2003, 12, 31)

querie1 = {
        "description": "Games where Portugal scored more than 3 goals after 2003",
        "query": {
            "$and": [
                {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                         {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                {"date": {"$gt": date_limit}}
            ]
        }
    }


# Querie 2
querie2 = {
        "description": "Games where Australia and Sweden played against each other",
        "query": {
            "$or": [
                {"home_team": "Australia", "away_team": "Sweden"},
                {"home_team": "Sweden", "away_team": "Australia"}
            ]
        }
    }

# Execute the queries

results = collection_results.find(querie1['query'])
print("Results for querie 1:")
for result in results:
    print("Date:", result['date'], ", Home team:", result['home_team'], ", Away team:", result['away_team'], ", Home score:", result['home_score'], ", Away score:", result['away_score'], ", Tournament:", result['tournament'], ", City:", result['city'], ", Country:", result['country'], ", Neutral:", result['neutral'], ", Goalscorers:", result['goalscorers'], ", Shootout:", result['shootout'])
    
results = collection_results.find(querie2['query'])
print("Results for querie 2:")
for result in results:
    print("Date:", result['date'], ", Home team:", result['home_team'], ", Away team:", result['away_team'], ", Home score:", result['home_score'], ", Away score:", result['away_score'], ", Tournament:", result['tournament'], ", City:", result['city'], ", Country:", result['country'], ", Neutral:", result['neutral'], ", Goalscorers:", result['goalscorers'], ", Shootout:", result['shootout'])

## Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# Complex querie 1

# Obtain the teams that have played with each other at least 100 times
pipeline = [
    {
        "$project": {
            "team_pair": {
                "$cond": [
                    { "$lt": ["$home_team", "$away_team"] },
                    { "home_team": "$home_team", "away_team": "$away_team" },
                    { "home_team": "$away_team", "away_team": "$home_team" }
                ]
            }
        }
    },
    {
        "$group": {
            "_id": "$team_pair",
            "count": { "$sum": 1 }
        }
    },
    {
        "$match": {
            "count": { "$gt": 100 }
        }
    }
]



# Get the teams that have played with each other at least 100 times
teams_that_played_at_least_100_times = list(collection_results.aggregate(pipeline))

# Print the teams that have played with each other at least 100 times
print("Teams that have played with each other at least 100 times:")
for team_pair in teams_that_played_at_least_100_times:
    print("Home team: ", team_pair['_id']['home_team'], ", Away team: ", team_pair['_id']['away_team'], ", Count: ", team_pair['count'])


matched_count = 0
modified_count = 0

# Iterate over the teams that have played with each other at least 100 times and update the matches that have more than 5 goals scored
for team_pair in teams_that_played_at_least_100_times:
    home_team = team_pair['_id']['home_team']
    away_team = team_pair['_id']['away_team']
    
    try:
        # Update the matches that have more than 5 goals scored and that the teams are in the team_pair
        results = collection_results.update_many(
            {
                "$or": [
                    {"home_team": home_team, "away_team": away_team},
                    {"home_team": away_team, "away_team": home_team}
                ],
                "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
            },
            {
                "$set": {
                    "neutral": True
                }
            }
        )

        matched_count += results.matched_count
        modified_count += results.modified_count
    except Exception as e:
        print("Error updating the documents, error: ", e)
        
        
print("Matched count: ", matched_count)
print("Modified count: ", modified_count)

In [ ]:
# Complex querie 2

# Get the matches with the most difference between the home_score and away_score
pipeline = [
    {
        "$project": {
            "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
            "date": 1,
            "home_team": 1,
            "away_team": 1,
            "home_score": 1,
            "away_score": 1,
            "tournament": 1,
            "city": 1,
            "country": 1,
            "neutral": 1,
        }
    },
    {"$sort": {"difference": -1}},
    {"$limit": 100},
]

matches_with_most_difference = list(collection_results.aggregate(pipeline))


# Print the matches with the most difference between the home_score and away_score
counter = 0
print("Matches with the most difference between the home_score and away_score:")
for match in matches_with_most_difference:
    counter += 1
    print("Match number: ", counter, ", Difference: ", match['difference'], ", Date: ", match['date'], ", Home team: ", match['home_team'], ", Away team: ", match['away_team'])

matched_count = 0
modified_count = 0

# Add the 100 matches with the most difference in goals scored between the two teams, but flipped
new_matches = []
for match in matches_with_most_difference:
    new_match = {
        "date": match['date'],
        "home_team": match['away_team'],
        "away_team": match['home_team'],
        "home_score": match['away_score'],
        "away_score": match['home_score'],
        "tournament": match['tournament'],
        "city": match['city'],
        "country": match['country'],
        "neutral": match['neutral'],
        "goalscorers": []
    }
    new_matches.append(new_match)
    
try:
    collection_results.insert_many(new_matches)
    print(f"Inserted {len(new_matches)} matches with the most difference in goals scored between the two teams flipped.")
except Exception as e:
    print("Error inserting the documents, error: ", e)

# SQL

## Connecting to MYSQL

In [ ]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
username = 'root'
password = "1234"
# Miguel Dinis
# username = 'root'
# password = "1234"
# Rafael
# username = 'root'
# password = "olaolaola"
# Miguel Borges
# username = 'root'
# password = "1234"
host = 'localhost'
port = '3306'
database_name = 'football_db'
table_name = 'football'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

## Creating the database

In [ ]:
# Create the database
try:
    with engine.connect() as connection:
        connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))  # Optional: Drops if already exists
        connection.execute(text(f"CREATE DATABASE {database_name}"))
        print(f"Database '{database_name}' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Use the specific database
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

## Defining the relational schema

In [ ]:
# SQL commands for individual table creation
create_matches_table = """
CREATE TABLE IF NOT EXISTS matches (
    match_id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    home_team VARCHAR(100) NOT NULL,
    away_team VARCHAR(100) NOT NULL,
    home_score INT NOT NULL,
    away_score INT NOT NULL,
    tournament VARCHAR(100),
    city VARCHAR(100),
    country VARCHAR(100),
    neutral BOOLEAN
);
"""

create_goalscorers_table = """
CREATE TABLE IF NOT EXISTS goalscorers (
    goal_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    team VARCHAR(100) NOT NULL,
    scorer VARCHAR(100) NOT NULL,
    minute DOUBLE NOT NULL,
    penalty BOOLEAN,
    own_goal BOOLEAN,
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

create_shootouts_table = """
CREATE TABLE IF NOT EXISTS shootouts (
    shootout_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    winner VARCHAR(100),
    first_shooter VARCHAR(100),
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

# Execute each CREATE TABLE command separately
try:
    with engine.connect() as connection:
        connection.execute(text(create_matches_table))
        print("Table 'matches' created successfully.")
        
        connection.execute(text(create_goalscorers_table))
        print("Table 'goalscorers' created successfully.")
        
        connection.execute(text(create_shootouts_table))
        print("Table 'shootouts' created successfully.")
except Exception as e:
    print(f"Error creating tables: {e}")

## Data insertion

In [ ]:
# Batch size for inserts
batch_size = 100  # You can adjust this based on your dataset size

insert_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
VALUES (:date, :home_team, :away_team, :home_score, :away_score, :tournament, :city, :country, :neutral)
"""

# Connect to the database and execute the insert queries
try:
    with engine.begin() as connection:
        batch_data = []  # Temporary list to hold rows for batch insert
        for index, row in df_results.iterrows():
            batch_data.append({
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team'],
                'home_score': row['home_score'],
                'away_score': row['away_score'],
                'tournament': row['tournament'],
                'city': row['city'],
                'country': row['country'],
                'neutral': row['neutral']
            })
            if len(batch_data) >= batch_size:  # If batch size is reached
                connection.execute(text(insert_matches_query), batch_data)
                batch_data = []  # Reset batch data
        if batch_data:  # Insert any remaining data
            connection.execute(text(insert_matches_query), batch_data)
        print("Data inserted into 'matches' successfully.")
except Exception as e:
    print(f"Error inserting data into 'matches': {e}")

# Similarly, you can batch the other inserts for goalscorers and shootouts.
insert_goalscorers_query = """
INSERT INTO goalscorers (match_id, team, scorer, minute, penalty, own_goal)
VALUES (:match_id, :team, :scorer, :minute, :penalty, :own_goal)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_goalscorers.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'team': row['team'],
                    'scorer': row['scorer'],
                    'minute': row['minute'],
                    'penalty': row['penalty'],
                    'own_goal': row['own_goal']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_goalscorers_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_goalscorers_query), batch_data)
        print("Data inserted into 'goalscorers' successfully.")
except Exception as e:
    print(f"Error inserting data into 'goalscorers': {e}")

# Repeat similar process for 'shootouts' table.
insert_shootouts_query = """
INSERT INTO shootouts (match_id, winner, first_shooter)
VALUES (:match_id, :winner, :first_shooter)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_shootouts.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'winner': row['winner'],
                    'first_shooter': row['first_shooter']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_shootouts_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_shootouts_query), batch_data)
        print("Data inserted into 'shootouts' successfully.")
except Exception as e:
    print(f"Error inserting data into 'shootouts': {e}")

# Queries on SQL

## Two simple queries on SQL

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
from sqlalchemy.sql import text

# Query 1
query1 = text("""
SELECT *
FROM matches
WHERE (
        (home_team = 'Portugal' AND home_score > 3) OR
        (away_team = 'Portugal' AND away_score > 3)
      )
  AND date > '2003-12-31';
""")

with engine.connect() as connection:
    results1 = connection.execute(query1)
    print("Results for Query 1:")
    for result in results1:
        print(result)

# Query 2
query2 = text("""
SELECT *
FROM matches
WHERE 
    (home_team = 'Australia' AND away_team = 'Sweden') OR
    (home_team = 'Sweden' AND away_team = 'Australia');
""")

with engine.connect() as connection:
    results2 = connection.execute(query2)
    print("Results for Query 2:")
    for result in results2:
        print(result)

## Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Add a goalscorer to the goalscorers list from Cristiano Ronaldo on minute 90 to the 100 matches with the most difference in goals scored between the two teams, and increment the loser team score by 1

In [ ]:
# SQL query to get team pairs
team_pairs_query = """
WITH normalized_matches AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
)
SELECT 
    team1 AS home_team, 
    team2 AS away_team, 
    COUNT(*) AS match_count
FROM normalized_matches
GROUP BY team1, team2
HAVING COUNT(*) > 100;
"""

try:
    with engine.connect() as connection:
        result = connection.execute(text(team_pairs_query))
        team_pairs = [{"home_team": row["home_team"], "away_team": row["away_team"]} for row in result]
        print("Team pairs that have played at least 100 times:", team_pairs)
except Exception as e:
    print(f"Error fetching team pairs: {e}")

# SQL query to update matches
update_matches_query = """
WITH team_pairs AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100
)
UPDATE matches
SET neutral = TRUE
WHERE (
        (home_team, away_team) IN (
            SELECT team1, team2 FROM team_pairs
        ) 
        OR 
        (home_team, away_team) IN (
            SELECT team2, team1 FROM team_pairs
        )
      )
  AND (home_score + away_score) > 5;
"""

try:
    with engine.connect() as connection:
        result = connection.execute(text(update_matches_query))
        print(f"Rows updated: {result.rowcount}")
except Exception as e:
    print(f"Error updating matches: {e}")