# BASE DE DADOS AVANÇADAS

This project was made by group 008:

Afonso Baptista - fc58213 \
Miguel Borges - fc58187 \
Miguel Dinis - fc58198 \
Rafael Correia - fc58256 \
\
\
Em falta: Tempos que cada coisa demora (obrigatório na fase 2) inicial e depois das otimizações \
Relational -> Tabelas na 3FN (2 tipos de dados diferentes na mesma tabela; não ter uma coluna com lista de strings que devia ser uma tabela nova; tabela com 15 colunas devia ser partida em 2 e pode ficar + rápida; há pelo menos uma coisa que devia originar outra tabela pela 3FN) VER DEFINIÇÃO E OTIMIZAÇÃO NOS SLIDES \
Ver se dá para partir mais as tabelas \
Justificar bem porque usamos só uma (pode pesar nas escritas ou leituras porque podemos não querer passar por tudo para ver uma coisa específica) \
\
\
Podemos fazer a fase 2 neste notebook mas temos de dividir bem o que pertece a quê.
\
Melhorar o esquema de dados \
Melhorar as queries\
Usar indexes \
Ver os tempos \
Deixar mais claro o que fizemos em termos de update e write no relatório

## Imports

In [ ]:
import pandas as pd
from pymongo import MongoClient
import random
import datetime
import mysql.connector
from sqlalchemy import create_engine, text
import datetime
import time

# PHASE 1

## Clean the data

Analyzing the data, we can see that some of the data is missing. Some of the rows on goalscores.csv are missing the 'minute' column. We will remove these rows from the data.

On the other hand, shootouts.csv has missing values in the column 'first_shooter', but it is around 64% of the data, so it is not a good idea to remove it. Instead, we can fill it with random values between the two teams that are playing the match.

We also see that the types of the columns are not correct. We can see that the columns that should be dates are objects. We will convert the columns to the correct types.

In [ ]:

# Load the csvs files into dataframes

df_results = pd.read_csv('results.csv')
df_goalscorers = pd.read_csv('goalscorers.csv')
df_shootouts = pd.read_csv('shootouts.csv')

# Remove the rows with NaN values from goalscorers dataframe

df_goalscorers = df_goalscorers.dropna()

# Substitute the NaN values in the shootouts dataframe on the 'first_shooter' with a random team between the two teams that played the match

for index, row in df_shootouts.iterrows():
    if pd.isna(row['first_shooter']):
        df_shootouts.at[index, 'first_shooter'] = random.choice([row['home_team'], row['away_team']])
        
# Convert the datatypes that are objects to datetime

columns_to_convert_to_datetime = ['date']

for column in columns_to_convert_to_datetime:
    if column in df_results.columns:
        df_results[column] = pd.to_datetime(df_results[column])
    if column in df_goalscorers.columns:
        df_goalscorers[column] = pd.to_datetime(df_goalscorers[column])
    if column in df_shootouts.columns:
        df_shootouts[column] = pd.to_datetime(df_shootouts[column])

## MONGODB

### Connections to MongoDB

In [ ]:
# MongoDB do Miguel Dinis
#client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
#client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

### MongoDB collections structure

In [ ]:
schema_validator = {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Schema for the results of the matches",
        "required": [
            "date",
            "home_team",
            "away_team",
            "home_score",
            "away_score",
            "tournament",
            "city",
            "country",
            "neutral",
            "goalscorers",
        ],
        "properties": {
            "date": {
                "bsonType": "date",
                "description": "Must be a date representing the date of the match",
            },
            "home_team": {
                "bsonType": "string",
                "description": "Must be a string representing the home team",
            },
            "away_team": {
                "bsonType": "string",
                "description": "Must be a string representing the away team",
            },
            "home_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the home team score",
            },
            "away_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the away team score",
            },
            "tournament": {
                "bsonType": "string",
                "description": "Must be a string representing the tournament name",
            },
            "city": {
                "bsonType": "string",
                "description": "Must be a string representing the city",
            },
            "country": {
                "bsonType": "string",
                "description": "Must be a string representing the country",
            },
            "neutral": {
                "bsonType": "bool",
                "description": "Must be a boolean indicating if the match was played at a neutral venue",
            },
            "goalscorers": {
                "bsonType": "array",
                "description": "List of goalscorers, can be empty",
                "items": {
                    "bsonType": "object",
                    "required": ["team", "scorer", "minute", "own_goal", "penalty"],
                    "properties": {
                        "team": {
                            "bsonType": "string",
                            "description": "Must be a string representing the team of the scorer",
                        },
                        "scorer": {
                            "bsonType": "string",
                            "description": "Must be a string representing the name of the scorer",
                        },
                        "minute": {
                            "bsonType": "double",
                            "description": "Must be a float representing the minute of the goal",
                        },
                        "own_goal": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was an own goal",
                        },
                        "penalty": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was a penalty",
                        },
                    },
                },
            },
            "shootout": {
                "oneOf": [
                    {
                        "bsonType": "null",
                        "description": "Can be null if no shootout occurred",
                    },
                    {
                        "bsonType": "object",
                        "description": "Optional object for shootout details",
                        "required": ["winner", "first_shooter"],
                        "properties": {
                            "winner": {
                                "bsonType": "string",
                                "description": "Must be a string representing the shootout winner",
                            },
                            "first_shooter": {
                                "bsonType": "string",
                                "description": "Must be a string representing the first shooter",
                            },
                        },
                    },
                ],
            }
        },
    }
}

### Database and Collection creation

In [ ]:
client.drop_database('football') # Drop the database if it already exists

db = client['football'] # Create the database

# Create the collection with the schema validator

try:
    collection_results = db.create_collection('football_results', validator={'$jsonSchema': schema_validator['$jsonSchema']}) 
except Exception as e:
    print(e)

### Data insertion

First we need to put together all the dataframes into a single one, inserting the goalscorers and shootout details into one dataframe. After that we can insert the data into the MongoDB collection.

Obs: We saw that exists 2 shootouts there are not in the results.csv file, so we will not insert them in the database, because if we dont have the match itself, we thought that it would not make sense to insert the shootout in the database.

In [ ]:
# Create the dataframe to insert into the database

df_matches = df_results.copy(deep=True)

# Group the goalscorers by date, home_team, away_team and put each goalscorer in a object with the team, scorer, minute, own_goal and penalty fields in a list 

grouped_goalscorers = df_goalscorers.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: x[['team', 'scorer', 'minute', 'own_goal', 'penalty']].to_dict(orient='records'), include_groups = False
).reset_index(name='goalscorers')

# Merge the grouped goalscorers with the matches dataframe

df_matches = pd.merge(df_matches, grouped_goalscorers, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with an empty list

df_matches['goalscorers'] = df_matches['goalscorers'].apply(lambda x: [] if isinstance(x, float) and pd.isna(x) else x)

# Group the shootouts by date, home_team, away_team and put the winner and first_shooter in a object

grouped_shootouts = df_shootouts.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: {
        'winner': x['winner'].iloc[0],
        'first_shooter': x['first_shooter'].iloc[0]
    }, 
    include_groups = False
).reset_index(name='shootout')

# Adding the column shootout to the dataframe

df_matches = pd.merge(df_matches, grouped_shootouts, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with None

df_matches['shootout'] = df_matches['shootout'].apply(lambda x: None if isinstance(x, float) and pd.isna(x) else x)

# Insert the data into the database

collection_results.insert_many(df_matches.to_dict(orient='records'))

## Queries on MongoDB

### Two simple queries on MongoDB

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1

# We need to convert the date to a datetime object to compare it with the date_limit
date_limit = datetime.datetime(2003, 12, 31)

query1 = {
        "description": "Games where Portugal scored more than 3 goals after 2003",
        "query": {
            "$and": [
                {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                         {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                {"date": {"$gt": date_limit}}
            ]
        }
    }


# Query 2
query2 = {
        "description": "Games where Australia and Sweden played against each other",
        "query": {
            "$or": [
                {"home_team": "Australia", "away_team": "Sweden"},
                {"home_team": "Sweden", "away_team": "Australia"}
            ]
        }
    }

# Execute the queries
start_time = time.time()
results = collection_results.find(query1['query'])
print("Time to execute query 1:", time.time() - start_time)
print("Results for query 1:")
for result in results:
    print("Date:", result['date'], ", Home team:", result['home_team'], ", Away team:", result['away_team'], ", Home score:", result['home_score'], ", Away score:", result['away_score'], ", Tournament:", result['tournament'], ", City:", result['city'], ", Country:", result['country'], ", Neutral:", result['neutral'], ", Goalscorers:", result['goalscorers'], ", Shootout:", result['shootout'])
    
start_time = time.time()
results = collection_results.find(query2['query'])
print("Time to execute query 2:", time.time() - start_time)
print("Results for query2 2:")
for result in results:
    print("Date:", result['date'], ", Home team:", result['home_team'], ", Away team:", result['away_team'], ", Home score:", result['home_score'], ", Away score:", result['away_score'], ", Tournament:", result['tournament'], ", City:", result['city'], ", Country:", result['country'], ", Neutral:", result['neutral'], ", Goalscorers:", result['goalscorers'], ", Shootout:", result['shootout'])

### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# Complex query 1

# Obtain the teams that have played with each other at least 100 times
pipeline = [
    {
        "$project": {
            "team_pair": {
                "$cond": [
                    { "$lt": ["$home_team", "$away_team"] },
                    { "home_team": "$home_team", "away_team": "$away_team" },
                    { "home_team": "$away_team", "away_team": "$home_team" }
                ]
            }
        }
    },
    {
        "$group": {
            "_id": "$team_pair",
            "count": { "$sum": 1 }
        }
    },
    {
        "$match": {
            "count": { "$gt": 100 }
        }
    }
]



# Get the teams that have played with each other at least 100 times
start_time = time.time()
teams_that_played_at_least_100_times = list(collection_results.aggregate(pipeline))

# Print the teams that have played with each other at least 100 times
print("Teams that have played with each other at least 100 times:")
for team_pair in teams_that_played_at_least_100_times:
    print("Home team: ", team_pair['_id']['home_team'], ", Away team: ", team_pair['_id']['away_team'], ", Count: ", team_pair['count'])


matched_count = 0
modified_count = 0

# Iterate over the teams that have played with each other at least 100 times and update the matches that have more than 5 goals scored
for team_pair in teams_that_played_at_least_100_times:
    home_team = team_pair['_id']['home_team']
    away_team = team_pair['_id']['away_team']
    
    try:
        # Update the matches that have more than 5 goals scored and that the teams are in the team_pair
        results = collection_results.update_many(
            {
                "$or": [
                    {"home_team": home_team, "away_team": away_team},
                    {"home_team": away_team, "away_team": home_team}
                ],
                "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
            },
            {
                "$set": {
                    "neutral": True
                }
            }
        )

        matched_count += results.matched_count
        modified_count += results.modified_count
    except Exception as e:
        print("Error updating the documents, error: ", e)   

print("Time to execute the complex query 1:", time.time() - start_time)          
print("Matched count: ", matched_count)
print("Modified count: ", modified_count)

In [ ]:
# Complex query 2

# Get the matches with the most difference between the home_score and away_score
pipeline = [
    {
        "$project": {
            "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
            "date": 1,
            "home_team": 1,
            "away_team": 1,
            "home_score": 1,
            "away_score": 1,
            "tournament": 1,
            "city": 1,
            "country": 1,
            "neutral": 1,
        }
    },
    {"$sort": {"difference": -1}},
    {"$limit": 100},
]

start_time = time.time()
matches_with_most_difference = list(collection_results.aggregate(pipeline))


# Print the matches with the most difference between the home_score and away_score
counter = 0
print("Matches with the most difference between the home_score and away_score:")
for match in matches_with_most_difference:
    counter += 1
    print("Match number: ", counter, ", Difference: ", match['difference'], ", Date: ", match['date'], ", Home team: ", match['home_team'], ", Away team: ", match['away_team'])

matched_count = 0
modified_count = 0

# Add the 100 matches with the most difference in goals scored between the two teams, but flipped
new_matches = []
for match in matches_with_most_difference:
    new_match = {
        "date": match['date'],
        "home_team": match['away_team'],
        "away_team": match['home_team'],
        "home_score": match['away_score'],
        "away_score": match['home_score'],
        "tournament": match['tournament'],
        "city": match['city'],
        "country": match['country'],
        "neutral": match['neutral'],
        "goalscorers": []
    }
    new_matches.append(new_match)
    
try:
    collection_results.insert_many(new_matches)
    print(f"Inserted {len(new_matches)} matches with the most difference in goals scored between the two teams flipped.")
except Exception as e:
    print("Error inserting the documents, error: ", e)

print("Time to execute the complex query 2:", time.time() - start_time)

## SQL

### Connecting to MYSQL

In [ ]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
# username = 'root'
# password = "1234"

# Miguel Borges
username = 'root'
password = "Cfsb1705!"

# Miguel Dinis
# username = 'root'
# password = "1234"

# Rafael
# username = 'root'
# password = "olaolaola"

host = 'localhost'
port = '3306'
database_name = 'football_db'
table_name = 'football'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

### Creating the database

In [ ]:
# Create the database
try:
    with engine.connect() as connection:
        connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))  # Optional: Drops if already exists
        connection.execute(text(f"CREATE DATABASE {database_name}"))
        print(f"Database '{database_name}' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Use the specific database
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

### Defining the relational schema

In [ ]:
# SQL commands for individual table creation
create_matches_table = """
CREATE TABLE IF NOT EXISTS matches (
    match_id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    home_team VARCHAR(100) NOT NULL,
    away_team VARCHAR(100) NOT NULL,
    home_score INT NOT NULL,
    away_score INT NOT NULL,
    tournament VARCHAR(100),
    city VARCHAR(100),
    country VARCHAR(100),
    neutral BOOLEAN
);
"""

create_goalscorers_table = """
CREATE TABLE IF NOT EXISTS goalscorers (
    goal_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    team VARCHAR(100) NOT NULL,
    scorer VARCHAR(100) NOT NULL,
    minute DOUBLE NOT NULL,
    penalty BOOLEAN,
    own_goal BOOLEAN,
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

create_shootouts_table = """
CREATE TABLE IF NOT EXISTS shootouts (
    shootout_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    winner VARCHAR(100),
    first_shooter VARCHAR(100),
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

# Execute each CREATE TABLE command separately
try:
    with engine.connect() as connection:
        connection.execute(text(create_matches_table))
        print("Table 'matches' created successfully.")
        
        connection.execute(text(create_goalscorers_table))
        print("Table 'goalscorers' created successfully.")
        
        connection.execute(text(create_shootouts_table))
        print("Table 'shootouts' created successfully.")
except Exception as e:
    print(f"Error creating tables: {e}")

### Data insertion

In [ ]:
# Batch size for inserts
batch_size = 100  # You can adjust this based on your dataset size

insert_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
VALUES (:date, :home_team, :away_team, :home_score, :away_score, :tournament, :city, :country, :neutral)
"""

# Connect to the database and execute the insert queries
try:
    with engine.begin() as connection:
        batch_data = []  # Temporary list to hold rows for batch insert
        for index, row in df_results.iterrows():
            batch_data.append({
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team'],
                'home_score': row['home_score'],
                'away_score': row['away_score'],
                'tournament': row['tournament'],
                'city': row['city'],
                'country': row['country'],
                'neutral': row['neutral']
            })
            if len(batch_data) >= batch_size:  # If batch size is reached
                connection.execute(text(insert_matches_query), batch_data)
                batch_data = []  # Reset batch data
        if batch_data:  # Insert any remaining data
            connection.execute(text(insert_matches_query), batch_data)
        print("Data inserted into 'matches' successfully.")
except Exception as e:
    print(f"Error inserting data into 'matches': {e}")

# Similarly, you can batch the other inserts for goalscorers and shootouts.
insert_goalscorers_query = """
INSERT INTO goalscorers (match_id, team, scorer, minute, penalty, own_goal)
VALUES (:match_id, :team, :scorer, :minute, :penalty, :own_goal)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_goalscorers.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'team': row['team'],
                    'scorer': row['scorer'],
                    'minute': row['minute'],
                    'penalty': row['penalty'],
                    'own_goal': row['own_goal']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_goalscorers_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_goalscorers_query), batch_data)
        print("Data inserted into 'goalscorers' successfully.")
except Exception as e:
    print(f"Error inserting data into 'goalscorers': {e}")

# Repeat similar process for 'shootouts' table.
insert_shootouts_query = """
INSERT INTO shootouts (match_id, winner, first_shooter)
VALUES (:match_id, :winner, :first_shooter)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_shootouts.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'winner': row['winner'],
                    'first_shooter': row['first_shooter']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_shootouts_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_shootouts_query), batch_data)
        print("Data inserted into 'shootouts' successfully.")
except Exception as e:
    print(f"Error inserting data into 'shootouts': {e}")

## Queries on SQL

### Two simple queries on SQL

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1
query1 = text("""
SELECT *
FROM matches
WHERE (
        (home_team = 'Portugal' AND home_score > 3) OR
        (away_team = 'Portugal' AND away_score > 3)
      )
  AND date > '2003-12-31';
""")

with engine.connect() as connection:
    start_time = time.time()
    results1 = connection.execute(query1)
    print("Time to execute query 1:", time.time() - start_time)
    print("Results for Query 1:")
    for result in results1:
        print(result)

# Query 2
query2 = text("""
SELECT *
FROM matches
WHERE 
    (home_team = 'Australia' AND away_team = 'Sweden') OR
    (home_team = 'Sweden' AND away_team = 'Australia');
""")

with engine.connect() as connection:
    start_time = time.time()
    results2 = connection.execute(query2)
    print("Time to execute query 2:", time.time() - start_time)
    print("Results for Query 2:")
    for result in results2:
        print(result)

### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# SQL query to get team pairs with match counts
team_pairs_query = """
WITH normalized_matches AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
)
SELECT 
    team1 AS home_team, 
    team2 AS away_team, 
    COUNT(*) AS match_count
FROM normalized_matches
GROUP BY team1, team2
HAVING COUNT(*) > 100;
"""
start_time = time.time()
try:
    with engine.connect() as connection:
        result = connection.execute(text(team_pairs_query))
        # Convert rows into a list of dictionaries
        team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
        
        # Print the results in the desired format
        print("Teams that have played with each other at least 100 times:")
        for team_pair in team_pairs:
            print(
                f"Home team:  {team_pair['home_team']} , "
                f"Away team:  {team_pair['away_team']} , "
                f"Count:  {team_pair['count']}"
            )
except Exception as e:
    print(f"Error fetching team pairs: {e}")

# SQL query to update matches
update_matches_query = """
WITH team_pairs AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100
)
UPDATE matches
SET neutral = TRUE
WHERE (
        (home_team, away_team) IN (
            SELECT team1, team2 FROM team_pairs
        ) 
        OR 
        (home_team, away_team) IN (
            SELECT team2, team1 FROM team_pairs
        )
      )
  AND (home_score + away_score) > 5;
"""

try:
    with engine.connect() as connection:
        result = connection.execute(text(update_matches_query))
        matched_count = result.rowcount
        print("Time to execute the complex query 1:", time.time() - start_time)
        print(f"Matched count:  {matched_count}")
        print(f"Modified count:  {matched_count}")  # Assuming all matched rows are modified
except Exception as e:
    print(f"Error updating matches: {e}")

In [ ]:
# Query to fetch matches with the most difference
most_difference_query = """
SELECT 
    match_id,
    ABS(home_score - away_score) AS difference,
    date,
    home_team,
    away_team,
    home_score,
    away_score,
    tournament,
    city,
    country,
    neutral
FROM matches
ORDER BY difference DESC
LIMIT 100;
"""

# Query to insert flipped matches
insert_flipped_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
SELECT 
    date,
    away_team AS home_team,
    home_team AS away_team,
    away_score AS home_score,
    home_score AS away_score,
    tournament,
    city,
    country,
    neutral
FROM (
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        tournament,
        city,
        country,
        neutral
    FROM matches
    ORDER BY difference DESC
    LIMIT 100
) AS top_matches;
"""

start_time = time.time()
# Fetch matches with most difference
try:
    with engine.connect() as connection:
        # Execute the query
        result = connection.execute(text(most_difference_query))
        
        # Process results
        matches_with_most_difference = [
            {
                "match_id": row[0],  # Adjust indices to match query column order
                "difference": row[1],
                "date": row[2],
                "home_team": row[3],
                "away_team": row[4],
                "home_score": row[5],
                "away_score": row[6],
                "tournament": row[7],
                "city": row[8],
                "country": row[9],
                "neutral": row[10],
            }
            for row in result
        ]
        
        # Print matches in the desired format
        print("Matches with the most difference between the home_score and away_score:")
        for idx, match in enumerate(matches_with_most_difference, start=1):
            print(
                f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
                f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
                f"Home score: {match['home_score']}, Away score: {match['away_score']}"
            )

        # Insert flipped matches
        result = connection.execute(text(insert_flipped_matches_query))
        print(f"Inserted flipped matches. Rows affected: {result.rowcount}")
        print("Time to execute the complex query 2:", time.time() - start_time)

except Exception as e:
    print(f"Error processing matches: {e}")

# PHASE 2

## DATABASES OPTIMIZATION

### MONGODB with more performance

#### Connections to MongoDB

In [ ]:
# MongoDB do Miguel Dinis
client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
#client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

#### MongoDB collections structure

In [ ]:
schema_validator = {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Schema for the results of the matches",
        "required": [
            "date",
            "home_team",
            "away_team",
            "home_score",
            "away_score",
            "tournament",
            "city",
            "country",
            "neutral",
            "goalscorers",
        ],
        "properties": {
            "date": {
                "bsonType": "date",
                "description": "Must be a date representing the date of the match",
            },
            "home_team": {
                "bsonType": "string",
                "description": "Must be a string representing the home team",
            },
            "away_team": {
                "bsonType": "string",
                "description": "Must be a string representing the away team",
            },
            "home_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the home team score",
            },
            "away_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the away team score",
            },
            "tournament": {
                "bsonType": "string",
                "description": "Must be a string representing the tournament name",
            },
            "city": {
                "bsonType": "string",
                "description": "Must be a string representing the city",
            },
            "country": {
                "bsonType": "string",
                "description": "Must be a string representing the country",
            },
            "neutral": {
                "bsonType": "bool",
                "description": "Must be a boolean indicating if the match was played at a neutral venue",
            },
            "goalscorers": {
                "bsonType": "array",
                "description": "List of goalscorers, can be empty",
                "items": {
                    "bsonType": "object",
                    "required": ["team", "scorer", "minute", "own_goal", "penalty"],
                    "properties": {
                        "team": {
                            "bsonType": "string",
                            "description": "Must be a string representing the team of the scorer",
                        },
                        "scorer": {
                            "bsonType": "string",
                            "description": "Must be a string representing the name of the scorer",
                        },
                        "minute": {
                            "bsonType": "double",
                            "description": "Must be a float representing the minute of the goal",
                        },
                        "own_goal": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was an own goal",
                        },
                        "penalty": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was a penalty",
                        },
                    },
                },
            },
            "shootout": {
                "oneOf": [
                    {
                        "bsonType": "null",
                        "description": "Can be null if no shootout occurred",
                    },
                    {
                        "bsonType": "object",
                        "description": "Optional object for shootout details",
                        "required": ["winner", "first_shooter"],
                        "properties": {
                            "winner": {
                                "bsonType": "string",
                                "description": "Must be a string representing the shootout winner",
                            },
                            "first_shooter": {
                                "bsonType": "string",
                                "description": "Must be a string representing the first shooter",
                            },
                        },
                    },
                ],
            }
        },
    }
}

#### Database and Collection creation

In [ ]:
client.drop_database('football') # Drop the database if it already exists

db = client['football'] # Create the database

# Create the collection with the schema validator

try:
    collection_results = db.create_collection('football_results', validator={'$jsonSchema': schema_validator['$jsonSchema']}) 
except Exception as e:
    print(e)

#### Data insertion

First we need to put together all the dataframes into a single one, inserting the goalscorers and shootout details into one dataframe. After that we can insert the data into the MongoDB collection.

Obs: We saw that exists 2 shootouts there are not in the results.csv file, so we will not insert them in the database, because if we dont have the match itself, we thought that it would not make sense to insert the shootout in the database.

In [ ]:
# Create the dataframe to insert into the database

df_matches = df_results.copy(deep=True)

# Group the goalscorers by date, home_team, away_team and put each goalscorer in a object with the team, scorer, minute, own_goal and penalty fields in a list 

grouped_goalscorers = df_goalscorers.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: x[['team', 'scorer', 'minute', 'own_goal', 'penalty']].to_dict(orient='records'), include_groups = False
).reset_index(name='goalscorers')

# Merge the grouped goalscorers with the matches dataframe

df_matches = pd.merge(df_matches, grouped_goalscorers, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with an empty list

df_matches['goalscorers'] = df_matches['goalscorers'].apply(lambda x: [] if isinstance(x, float) and pd.isna(x) else x)

# Group the shootouts by date, home_team, away_team and put the winner and first_shooter in a object

grouped_shootouts = df_shootouts.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: {
        'winner': x['winner'].iloc[0],
        'first_shooter': x['first_shooter'].iloc[0]
    }, 
    include_groups = False
).reset_index(name='shootout')

# Adding the column shootout to the dataframe

df_matches = pd.merge(df_matches, grouped_shootouts, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with None

df_matches['shootout'] = df_matches['shootout'].apply(lambda x: None if isinstance(x, float) and pd.isna(x) else x)

# Insert the data into the database

collection_results.insert_many(df_matches.to_dict(orient='records'))

### Queries on MongoDB with more performance but without Indexes

#### Two simple queries on MongoDB

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1

# We need to convert the date to a datetime object to compare it with the date_limit
date_limit = datetime.datetime(2003, 12, 31)

query1 = {
        "description": "Games where Portugal scored more than 3 goals after 2003",
        "query": {
            "$and": [
                {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                         {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                {"date": {"$gt": date_limit}}
            ]
        }
    }


# Query 2
query2 = {
        "description": "Games where Australia and Sweden played against each other",
        "query": {
            "$or": [
                {"home_team": "Australia", "away_team": "Sweden"},
                {"home_team": "Sweden", "away_team": "Australia"}
            ]
        }
    }

# Execute the queries
start_time = time.time()
results = collection_results.find(query1['query'])
print("Time to execute query 1:", time.time() - start_time)
print("Results for query 1:")
for result in results:
    print("Date:", result['date'], ", Home team:", result['home_team'], ", Away team:", result['away_team'], ", Home score:", result['home_score'], ", Away score:", result['away_score'], ", Tournament:", result['tournament'], ", City:", result['city'], ", Country:", result['country'], ", Neutral:", result['neutral'], ", Goalscorers:", result['goalscorers'], ", Shootout:", result['shootout'])
    
start_time = time.time()
results = collection_results.find(query2['query'])
print("Time to execute query 2:", time.time() - start_time)
print("Results for query2 2:")
for result in results:
    print("Date:", result['date'], ", Home team:", result['home_team'], ", Away team:", result['away_team'], ", Home score:", result['home_score'], ", Away score:", result['away_score'], ", Tournament:", result['tournament'], ", City:", result['city'], ", Country:", result['country'], ", Neutral:", result['neutral'], ", Goalscorers:", result['goalscorers'], ", Shootout:", result['shootout'])

#### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# Complex query 1

# Obtain the teams that have played with each other at least 100 times
pipeline = [
    {
        "$project": {
            "team_pair": {
                "$cond": [
                    { "$lt": ["$home_team", "$away_team"] },
                    { "home_team": "$home_team", "away_team": "$away_team" },
                    { "home_team": "$away_team", "away_team": "$home_team" }
                ]
            }
        }
    },
    {
        "$group": {
            "_id": "$team_pair",
            "count": { "$sum": 1 }
        }
    },
    {
        "$match": {
            "count": { "$gt": 100 }
        }
    }
]


start_time = time.time()
# Get the teams that have played with each other at least 100 times
teams_that_played_at_least_100_times = list(collection_results.aggregate(pipeline))

# Print the teams that have played with each other at least 100 times
print("Teams that have played with each other at least 100 times:")
for team_pair in teams_that_played_at_least_100_times:
    print("Home team: ", team_pair['_id']['home_team'], ", Away team: ", team_pair['_id']['away_team'], ", Count: ", team_pair['count'])


matched_count = 0
modified_count = 0

# Iterate over the teams that have played with each other at least 100 times and update the matches that have more than 5 goals scored
for team_pair in teams_that_played_at_least_100_times:
    home_team = team_pair['_id']['home_team']
    away_team = team_pair['_id']['away_team']
    
    try:
        # Update the matches that have more than 5 goals scored and that the teams are in the team_pair
        results = collection_results.update_many(
            {
                "$or": [
                    {"home_team": home_team, "away_team": away_team},
                    {"home_team": away_team, "away_team": home_team}
                ],
                "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
            },
            {
                "$set": {
                    "neutral": True
                }
            }
        )

        matched_count += results.matched_count
        modified_count += results.modified_count
    except Exception as e:
        print("Error updating the documents, error: ", e)
        
 
print("Time to execute complex query 1:", time.time() - start_time)      
print("Matched count: ", matched_count)
print("Modified count: ", modified_count)

In [ ]:
# Complex query 2

# Get the matches with the most difference between the home_score and away_score
pipeline = [
    {
        "$project": {
            "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
            "date": 1,
            "home_team": 1,
            "away_team": 1,
            "home_score": 1,
            "away_score": 1,
            "tournament": 1,
            "city": 1,
            "country": 1,
            "neutral": 1,
        }
    },
    {"$sort": {"difference": -1}},
    {"$limit": 100},
]

start_time = time.time()
matches_with_most_difference = list(collection_results.aggregate(pipeline))


# Print the matches with the most difference between the home_score and away_score
counter = 0
print("Matches with the most difference between the home_score and away_score:")
for match in matches_with_most_difference:
    counter += 1
    print("Match number: ", counter, ", Difference: ", match['difference'], ", Date: ", match['date'], ", Home team: ", match['home_team'], ", Away team: ", match['away_team'])

matched_count = 0
modified_count = 0

# Add the 100 matches with the most difference in goals scored between the two teams, but flipped
new_matches = []
for match in matches_with_most_difference:
    new_match = {
        "date": match['date'],
        "home_team": match['away_team'],
        "away_team": match['home_team'],
        "home_score": match['away_score'],
        "away_score": match['home_score'],
        "tournament": match['tournament'],
        "city": match['city'],
        "country": match['country'],
        "neutral": match['neutral'],
        "goalscorers": []
    }
    new_matches.append(new_match)
    
try:
    collection_results.insert_many(new_matches)
    print(f"Inserted {len(new_matches)} matches with the most difference in goals scored between the two teams flipped.")
except Exception as e:
    print("Error inserting the documents, error: ", e)
    
    
print("Time to execute complex query 2:", time.time() - start_time)

### SQL with more performance

#### Connecting to MYSQL

In [ ]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
# username = 'root'
# password = "1234"

# Miguel Borges
# username = 'root'
# password = "Cfsb1705!"

# Miguel Dinis
# username = 'root'
password = "MySQLMD-2024"

# Rafael
username = 'root'
# password = "olaolaola"

host = 'localhost'
port = '3306'
database_name = 'football_db_optimized'
table_name = 'football'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

#### Creating the database

In [ ]:
# Create the database
try:
    with engine.connect() as connection:
        connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))  # Optional: Drops if already exists
        connection.execute(text(f"CREATE DATABASE {database_name}"))
        print(f"Database '{database_name}' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Use the specific database
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

#### Defining the relational schema

In [ ]:
# SQL commands for individual table creation
create_locations_table = """
CREATE TABLE IF NOT EXISTS locations (
    location_id INT AUTO_INCREMENT PRIMARY KEY,
    city VARCHAR(100) NOT NULL,
    country VARCHAR(100) NOT NULL
);
"""

create_matches_table = """
CREATE TABLE IF NOT EXISTS matches (
    match_id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    home_team VARCHAR(100) NOT NULL,
    away_team VARCHAR(100) NOT NULL,
    home_score INT NOT NULL,
    away_score INT NOT NULL,
    tournament VARCHAR(100),
    location_id INT NOT NULL,
    neutral BOOLEAN,
    FOREIGN KEY (location_id) REFERENCES locations(location_id)
);
"""

create_goalscorers_table = """
CREATE TABLE IF NOT EXISTS goalscorers (
    goal_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    team VARCHAR(100) NOT NULL,
    scorer VARCHAR(100) NOT NULL,
    minute DOUBLE NOT NULL,
    penalty BOOLEAN,
    own_goal BOOLEAN,
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

create_shootouts_table = """
CREATE TABLE IF NOT EXISTS shootouts (
    shootout_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    winner VARCHAR(100),
    first_shooter VARCHAR(100),
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

# Execute each CREATE TABLE command separately
try:
    with engine.connect() as connection:
        connection.execute(text(create_locations_table))
        print("Table 'locations' created successfully.")
        
        connection.execute(text(create_matches_table))
        print("Table 'matches' created successfully.")
        
        connection.execute(text(create_goalscorers_table))
        print("Table 'goalscorers' created successfully.")
        
        connection.execute(text(create_shootouts_table))
        print("Table 'shootouts' created successfully.")
except Exception as e:
    print(f"Error creating tables: {e}")

#### Data insertion

In [ ]:
# Batch size for inserts
batch_size = 100  # You can adjust this based on your dataset size

insert_locations_query = """
INSERT INTO locations (city, country)
VALUES (:city, :country)
"""

try: 
    with engine.begin() as connection:
        unique_locations = df_results[['city', 'country']].drop_duplicates()
        batch_data_loc = [
            {'city': row['city'], 'country': row['country']} for index, row in unique_locations.iterrows()
        ]
        connection.execute(text(insert_locations_query), batch_data_loc)
        print("Data inserted into 'locations' successfully.")
except Exception as e:
    print(f"Error inserting data into 'locations': {e}")
    
    
insert_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, neutral, tournament, location_id)
VALUES (:date, :home_team, :away_team, :home_score, :away_score, :neutral, :tournament, :location_id)
"""

# Connect to the database and execute the insert queries
try:
    with engine.begin() as connection:
        batch_data = []  # Temporary list to hold rows for batch insert
        for index, row in df_results.iterrows():
            location_query = """
            SELECT location_id FROM locations
            WHERE city = :city AND country = :country
            """
            
            location_result = connection.execute(text(location_query), {
                'city': row['city'],
                'country': row['country']
            }).fetchone()
            
            if location_result:
                location_id = location_result[0]
            
            
                batch_data.append({
                    'date': row['date'],
                    'home_team': row['home_team'],
                    'away_team': row['away_team'],
                    'home_score': row['home_score'],
                    'away_score': row['away_score'],
                    'neutral': row['neutral'],
                    'tournament': row['tournament'],
                    'location_id': location_id
                })
                    
            if len(batch_data) >= batch_size:  # If batch size is reached
                connection.execute(text(insert_matches_query), batch_data)
                batch_data = []  # Reset batch data
                
        if batch_data:  # Insert any remaining data
            connection.execute(text(insert_matches_query), batch_data)
        print("Data inserted into 'matches' successfully.")
        
except Exception as e:
    print(f"Error inserting data into 'matches': {e}")
    

# Similarly, you can batch the other inserts for goalscorers and shootouts.
insert_goalscorers_query = """
INSERT INTO goalscorers (match_id, team, scorer, minute, penalty, own_goal)
VALUES (:match_id, :team, :scorer, :minute, :penalty, :own_goal)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_goalscorers.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'team': row['team'],
                    'scorer': row['scorer'],
                    'minute': row['minute'],
                    'penalty': row['penalty'],
                    'own_goal': row['own_goal']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_goalscorers_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_goalscorers_query), batch_data)
        print("Data inserted into 'goalscorers' successfully.")
except Exception as e:
    print(f"Error inserting data into 'goalscorers': {e}")

# Repeat similar process for 'shootouts' table.
insert_shootouts_query = """
INSERT INTO shootouts (match_id, winner, first_shooter)
VALUES (:match_id, :winner, :first_shooter)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_shootouts.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'winner': row['winner'],
                    'first_shooter': row['first_shooter']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_shootouts_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_shootouts_query), batch_data)
        print("Data inserted into 'shootouts' successfully.")
except Exception as e:
    print(f"Error inserting data into 'shootouts': {e}")

### Queries on SQL with more performance but without Indexes

#### Two simple queries on SQL

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1
query1 = text("""
SELECT *
FROM matches
WHERE (
        (home_team = 'Portugal' AND home_score > 3) OR
        (away_team = 'Portugal' AND away_score > 3)
      )
  AND date > '2003-12-31';
""")

with engine.connect() as connection:
    start_time = time.time()
    results1 = connection.execute(query1)
    print("Time to execute query 1:", time.time() - start_time)
    print("Results for Query 1:")
    for result in results1:
        print(result)

# Query 2
query2 = text("""
SELECT *
FROM matches
WHERE 
    (home_team = 'Australia' AND away_team = 'Sweden') OR
    (home_team = 'Sweden' AND away_team = 'Australia');
""")

with engine.connect() as connection:
    start_time = time.time()
    results2 = connection.execute(query2)
    print("Time to execute query 2:", time.time() - start_time)
    print("Results for Query 2:")
    for result in results2:
        print(result)
        
print("\n\n\n")

total_unique_original = df_results[['city', 'country']].drop_duplicates().shape[0]
print(f"Total de combinações únicas no DataFrame original: {total_unique_original}")

total_unique_locations = unique_locations.shape[0]
print(f"Total de combinações únicas em unique_locations: {total_unique_locations}")
        
# Query to print all the locations -> 2208 PENSO QUE NO SQL SÃO 2203
# query_locations = text("""
# SELECT *
# FROM locations;
# """)

# with engine.connect() as connection:
#     results_locations = connection.execute(query_locations)
#     print("Results for Query locations:")
#     for result in results_locations:
#         print(result)

#### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# SQL query to get team pairs with match counts
team_pairs_query = """
WITH normalized_matches AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
)
SELECT 
    team1 AS home_team, 
    team2 AS away_team, 
    COUNT(*) AS match_count
FROM normalized_matches
GROUP BY team1, team2
HAVING COUNT(*) > 100;
"""

start_time = time.time()
try:
    with engine.connect() as connection:
        result = connection.execute(text(team_pairs_query))
        # Convert rows into a list of dictionaries
        team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
        
        # Print the results in the desired format
        print("Teams that have played with each other at least 100 times:")
        for team_pair in team_pairs:
            print(
                f"Home team:  {team_pair['home_team']} , "
                f"Away team:  {team_pair['away_team']} , "
                f"Count:  {team_pair['count']}"
            )
except Exception as e:
    print(f"Error fetching team pairs: {e}")

# SQL query to update matches
update_matches_query = """
WITH team_pairs AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100
)
UPDATE matches
SET neutral = TRUE
WHERE (
        (home_team, away_team) IN (
            SELECT team1, team2 FROM team_pairs
        ) 
        OR 
        (home_team, away_team) IN (
            SELECT team2, team1 FROM team_pairs
        )
      )
  AND (home_score + away_score) > 5;
"""

try:
    with engine.connect() as connection:
        result = connection.execute(text(update_matches_query))
        matched_count = result.rowcount
        print("Time to execute complex query 1:", time.time() - start_time)
        print(f"Matched count:  {matched_count}")
        print(f"Modified count:  {matched_count}")  # Assuming all matched rows are modified
except Exception as e:
    print(f"Error updating matches: {e}")

In [ ]:
# Query to fetch matches with the most difference
most_difference_query = """
SELECT 
    match_id,
    ABS(home_score - away_score) AS difference,
    date,
    home_team,
    away_team,
    home_score,
    away_score,
    tournament,
    l.city,
    l.country,
    neutral
FROM matches m
JOIN locations l ON m.location_id = l.location_id
ORDER BY difference DESC
LIMIT 100;
"""

# Query to insert flipped matches
insert_flipped_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, location_id, neutral)
SELECT 
    date,
    away_team AS home_team,
    home_team AS away_team,
    away_score AS home_score,
    home_score AS away_score,
    tournament,
    location_id,
    neutral
FROM (
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        tournament,
        location_id,
        neutral
    FROM matches
    ORDER BY difference DESC
    LIMIT 100
) AS top_matches;
"""

start_time = time.time()
# Fetch matches with most difference
try:
    with engine.connect() as connection:
        # Execute the query
        result = connection.execute(text(most_difference_query))
        
        # Process results
        matches_with_most_difference = [
            {
                "match_id": row[0],  # Adjust indices to match query column order
                "difference": row[1],
                "date": row[2],
                "home_team": row[3],
                "away_team": row[4],
                "home_score": row[5],
                "away_score": row[6],
                "tournament": row[7],
                "city": row[8],
                "country": row[9],
                "neutral": row[10],
            }
            for row in result
        ]
        
        # Print matches in the desired format
        print("Matches with the most difference between the home_score and away_score:")
        for idx, match in enumerate(matches_with_most_difference, start=1):
            print(
                f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
                f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
                f"Home score: {match['home_score']}, Away score: {match['away_score']}"
            )

        # Insert flipped matches
        result = connection.execute(text(insert_flipped_matches_query))
        print(f"Inserted flipped matches. Rows affected: {result.rowcount}")
        print("Time to execute complex query 2:", time.time() - start_time)

except Exception as e:
    print(f"Error processing matches: {e}")

## INDEXES

### Applying Indexes

falta fazer

### Queries on MongoDB only with Indexes

falta fazer

### Queries on SQL only with Indexes

falta fazer

## QUERIES WITH THE TWO OPTIMIZATIONS

### TOP QUERIES MONGODB

falta fazer

### TOP QUERIES SQL

falta fazer

## COMPARISON OF TIMES

falta fazer