# BASE DE DADOS AVANÇADAS

<!-- This project was made by group 008:

Afonso Baptista - fc58213 \
Miguel Borges - fc58187 \
Miguel Dinis - fc58198 \
Rafael Correia - fc58256 \
\
\
Em falta: Tempos que cada coisa demora (obrigatório na fase 2) inicial e depois das otimizações \
Relational -> Tabelas na 3FN (2 tipos de dados diferentes na mesma tabela; não ter uma coluna com lista de strings que devia ser uma tabela nova; tabela com 15 colunas devia ser partida em 2 e pode ficar + rápida; há pelo menos uma coisa que devia originar outra tabela pela 3FN) VER DEFINIÇÃO E OTIMIZAÇÃO NOS SLIDES \
Ver se dá para partir mais as tabelas \
Justificar bem porque usamos só uma (pode pesar nas escritas ou leituras porque podemos não querer passar por tudo para ver uma coisa específica) \
\
\
Para corrigir: É preciso corrigir a parte de inserir os dados na tabela sql otimizada, neste momento é preciso corre-la 2 vezes para todos os dados ficarem escritos (tirando 2 linhas) \
É preciso corrigir as queries complexas do sql otimizado \
\
\
Podemos fazer a fase 2 neste notebook mas temos de dividir bem o que pertece a quê.
\
Melhorar o esquema de dados \
Melhorar as queries\
Usar indexes \
Ver os tempos \
Deixar mais claro o que fizemos em termos de update e write no relatório -->

## Imports

In [99]:
import pandas as pd
from pymongo import MongoClient
import random
import datetime
import mysql.connector
from sqlalchemy import create_engine, text
import datetime
import time
from bson import ObjectId

# PHASE 1

## Clean the data

Analyzing the data, we can see that some of the data is missing. Some of the rows on goalscores.csv are missing the 'minute' column. We will remove these rows from the data.

On the other hand, shootouts.csv has missing values in the column 'first_shooter', but it is around 64% of the data, so it is not a good idea to remove it. Instead, we can fill it with random values between the two teams that are playing the match.

We also see that the types of the columns are not correct. We can see that the columns that should be dates are objects. We will convert the columns to the correct types.

To finish the process, we need to drop the rows that are duplicated that have the same date and the same teams playing the match

In [100]:

# Load the csvs files into dataframes

df_results = pd.read_csv('results.csv')
df_goalscorers = pd.read_csv('goalscorers.csv')
df_shootouts = pd.read_csv('shootouts.csv')

# Remove the rows with NaN values from goalscorers dataframe

df_goalscorers = df_goalscorers.dropna()

# Substitute the NaN values in the shootouts dataframe on the 'first_shooter' with a random team between the two teams that played the match

for index, row in df_shootouts.iterrows():
    if pd.isna(row['first_shooter']):
        df_shootouts.at[index, 'first_shooter'] = random.choice([row['home_team'], row['away_team']])
        
# Convert the datatypes that are objects to datetime

columns_to_convert_to_datetime = ['date']

for column in columns_to_convert_to_datetime:
    if column in df_results.columns:
        df_results[column] = pd.to_datetime(df_results[column])
    if column in df_goalscorers.columns:
        df_goalscorers[column] = pd.to_datetime(df_goalscorers[column])
    if column in df_shootouts.columns:
        df_shootouts[column] = pd.to_datetime(df_shootouts[column])
        
# Drop the rows that are duplicated in the dataframes
df_results = df_results.drop_duplicates(subset=['date', 'home_team', 'away_team'])

## MONGODB

### Connections to MongoDB

In [165]:
# MongoDB do Miguel Dinis
#client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

### MongoDB collections structure

In [166]:
schema_validator = {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Schema for the results of the matches",
        "required": [
            "date",
            "home_team",
            "away_team",
            "home_score",
            "away_score",
            "tournament",
            "city",
            "country",
            "neutral",
            "goalscorers",
        ],
        "properties": {
            "date": {
                "bsonType": "date",
                "description": "Must be a date representing the date of the match",
            },
            "home_team": {
                "bsonType": "string",
                "description": "Must be a string representing the home team",
            },
            "away_team": {
                "bsonType": "string",
                "description": "Must be a string representing the away team",
            },
            "home_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the home team score",
            },
            "away_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the away team score",
            },
            "tournament": {
                "bsonType": "string",
                "description": "Must be a string representing the tournament name",
            },
            "city": {
                "bsonType": "string",
                "description": "Must be a string representing the city",
            },
            "country": {
                "bsonType": "string",
                "description": "Must be a string representing the country",
            },
            "neutral": {
                "bsonType": "bool",
                "description": "Must be a boolean indicating if the match was played at a neutral venue",
            },
            "goalscorers": {
                "bsonType": "array",
                "description": "List of goalscorers, can be empty",
                "items": {
                    "bsonType": "object",
                    "required": ["team", "scorer", "minute", "own_goal", "penalty"],
                    "properties": {
                        "team": {
                            "bsonType": "string",
                            "description": "Must be a string representing the team of the scorer",
                        },
                        "scorer": {
                            "bsonType": "string",
                            "description": "Must be a string representing the name of the scorer",
                        },
                        "minute": {
                            "bsonType": "double",
                            "description": "Must be a float representing the minute of the goal",
                        },
                        "own_goal": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was an own goal",
                        },
                        "penalty": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was a penalty",
                        },
                    },
                },
            },
            "shootout": {
                "oneOf": [
                    {
                        "bsonType": "null",
                        "description": "Can be null if no shootout occurred",
                    },
                    {
                        "bsonType": "object",
                        "description": "Optional object for shootout details",
                        "required": ["winner", "first_shooter"],
                        "properties": {
                            "winner": {
                                "bsonType": "string",
                                "description": "Must be a string representing the shootout winner",
                            },
                            "first_shooter": {
                                "bsonType": "string",
                                "description": "Must be a string representing the first shooter",
                            },
                        },
                    },
                ],
            }
        },
    }
}

### Database and Collection creation

In [167]:
client.drop_database('football') # Drop the database if it already exists

db = client['football'] # Create the database

# Create the collection with the schema validator

try:
    collection_results = db.create_collection('football_results', validator={'$jsonSchema': schema_validator['$jsonSchema']}) 
except Exception as e:
    print(e)

### Data insertion

First we need to put together all the dataframes into a single one, inserting the goalscorers and shootout details into one dataframe. After that we can insert the data into the MongoDB collection.

Obs: We saw that exists 2 shootouts there are not in the results.csv file, so we will not insert them in the database, because if we dont have the match itself, we thought that it would not make sense to insert the shootout in the database.

In [ ]:
# Create the dataframe to insert into the database

df_matches = df_results.copy(deep=True)

# Group the goalscorers by date, home_team, away_team and put each goalscorer in a object with the team, scorer, minute, own_goal and penalty fields in a list 

grouped_goalscorers = df_goalscorers.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: x[['team', 'scorer', 'minute', 'own_goal', 'penalty']].to_dict(orient='records'), include_groups = False
).reset_index(name='goalscorers')

# Merge the grouped goalscorers with the matches dataframe

df_matches = pd.merge(df_matches, grouped_goalscorers, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with an empty list

df_matches['goalscorers'] = df_matches['goalscorers'].apply(lambda x: [] if isinstance(x, float) and pd.isna(x) else x)

# Group the shootouts by date, home_team, away_team and put the winner and first_shooter in a object

grouped_shootouts = df_shootouts.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
    lambda x: {
        'winner': x['winner'].iloc[0],
        'first_shooter': x['first_shooter'].iloc[0]
    }, 
    include_groups = False
).reset_index(name='shootout')

# Adding the column shootout to the dataframe

df_matches = pd.merge(df_matches, grouped_shootouts, on=['date', 'home_team', 'away_team'], how='left')

# Fill the NaN values with None

df_matches['shootout'] = df_matches['shootout'].apply(lambda x: None if isinstance(x, float) and pd.isna(x) else x)

# Insert the data into the database

collection_results.insert_many(df_matches.to_dict(orient='records'))

## Queries on MongoDB

### Two simple queries on MongoDB

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1

# We need to convert the date to a datetime object to compare it with the date_limit
date_limit = datetime.datetime(2003, 12, 31)

query1 = {
        "description": "Games where Portugal scored more than 3 goals after 2003",
        "query": {
            "$and": [
                {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                         {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                {"date": {"$gt": date_limit}}
            ]
        }
    }


# Query 2
query2 = {
        "description": "Games where Australia and Sweden played against each other",
        "query": {
            "$or": [
                {"home_team": "Australia", "away_team": "Sweden"},
                {"home_team": "Sweden", "away_team": "Australia"}
            ]
        }
    }

# Execute the queries
start_time = time.perf_counter()
results = collection_results.find(query1['query'])
mongo_basic_sq1_time = time.perf_counter() - start_time
print("Time to execute query 1:", mongo_basic_sq1_time)
print(len(list(results)), " results for query 1")

    
start_time = time.perf_counter()
results = collection_results.find(query2['query'])
mongo_basic_sq2_time = time.perf_counter() - start_time
print("Time to execute query 2:", mongo_basic_sq2_time)
print(len(list(results)), " results for query 2")

### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# Complex query 1

# Obtain the teams that have played with each other at least 100 times
pipeline = [
    {
        "$project": {
            "team_pair": {
                "$cond": [
                    { "$lt": ["$home_team", "$away_team"] },
                    { "home_team": "$home_team", "away_team": "$away_team" },
                    { "home_team": "$away_team", "away_team": "$home_team" }
                ]
            }
        }
    },
    {
        "$group": {
            "_id": "$team_pair",
            "count": { "$sum": 1 }
        }
    },
    {
        "$match": {
            "count": { "$gt": 100 }
        }
    }
]



# Get the teams that have played with each other at least 100 times
start_time = time.perf_counter()
teams_that_played_at_least_100_times = list(collection_results.aggregate(pipeline))

matched_count = 0
modified_count = 0

# Iterate over the teams that have played with each other at least 100 times and update the matches that have more than 5 goals scored
for team_pair in teams_that_played_at_least_100_times:
    home_team = team_pair['_id']['home_team']
    away_team = team_pair['_id']['away_team']
    
    try:
        # Update the matches that have more than 5 goals scored and that the teams are in the team_pair
        results = collection_results.update_many(
            {
                "$or": [
                    {"home_team": home_team, "away_team": away_team},
                    {"home_team": away_team, "away_team": home_team}
                ],
                "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
            },
            {
                "$set": {
                    "neutral": True
                }
            }
        )

        matched_count += results.matched_count
        modified_count += results.modified_count
    except Exception as e:
        print("Error updating the documents, error: ", e)   

mongo_basic_cq1_time = time.perf_counter() - start_time
print("Time to execute the complex query 1:", mongo_basic_cq1_time)

# Print the teams that have played with each other at least 100 times
print("Teams that have played with each other at least 100 times:")
for team_pair in teams_that_played_at_least_100_times:
    print("Home team: ", team_pair['_id']['home_team'], ", Away team: ", team_pair['_id']['away_team'], ", Count: ", team_pair['count'])
          
print("Matched count: ", matched_count)
print("Modified count: ", modified_count)

In [ ]:
# Complex query 2

# Get the matches with the most difference between the home_score and away_score
pipeline = [
    {
        "$project": {
            "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
            "date": 1,
            "home_team": 1,
            "away_team": 1,
            "home_score": 1,
            "away_score": 1,
            "tournament": 1,
            "city": 1,
            "country": 1,
            "neutral": 1,
        }
    },
    {"$sort": {"difference": -1}},
    {"$limit": 100},
]

start_time = time.perf_counter()
matches_with_most_difference = list(collection_results.aggregate(pipeline))

matched_count = 0
modified_count = 0

# Add the 100 matches with the most difference in goals scored between the two teams, but flipped
new_matches = []
for match in matches_with_most_difference:
    new_match = {
        "date": match['date'],
        "home_team": match['home_team'],
        "away_team": match['away_team'],
        "home_score": match['away_score'],
        "away_score": match['home_score'],
        "tournament": match['tournament'],
        "city": match['city'],
        "country": match['country'],
        "neutral": match['neutral'],
        "goalscorers": [],
        "shootout": None
    }
    new_matches.append(new_match)
    
try:
    collection_results.insert_many(new_matches)
except Exception as e:
    print("Error inserting the documents, error: ", e)

mongo_basic_cq2_time = time.perf_counter() - start_time
print("Time to execute the complex query 2:", mongo_basic_cq2_time)
print(f"Inserted {len(new_matches)} matches with the most difference in goals scored between the two teams flipped.")
# Print the matches with the most difference between the home_score and away_score
counter = 0
print("Matches with the most difference between the home_score and away_score:")
for match in matches_with_most_difference:
    counter += 1
    print("Match number: ", counter, ", Difference: ", match['difference'], ", Date: ", match['date'], ", Home team: ", match['home_team'], ", Away team: ", match['away_team'])

## SQL

### Connecting to MYSQL

In [ ]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
username = 'root'
password = "1234"

# Miguel Borges
# username = 'root'
# password = "Cfsb1705!"

# Miguel Dinis
# username = 'root'
# password = "1234"

# Rafael
# username = 'root'
# password = "olaolaola"

host = 'localhost'
port = '3306'
database_name = 'football_db'
table_name = 'football'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

### Creating the database

In [ ]:
# Create the database
try:
    with engine.connect() as connection:
        connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))  # Optional: Drops if already exists
        connection.execute(text(f"CREATE DATABASE {database_name}"))
        print(f"Database '{database_name}' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Use the specific database
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

### Defining the relational schema

In [ ]:
# SQL commands for individual table creation
create_matches_table = """
CREATE TABLE IF NOT EXISTS matches (
    match_id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    home_team VARCHAR(100) NOT NULL,
    away_team VARCHAR(100) NOT NULL,
    home_score INT NOT NULL,
    away_score INT NOT NULL,
    tournament VARCHAR(100),
    city VARCHAR(100),
    country VARCHAR(100),
    neutral BOOLEAN
);
"""

create_goalscorers_table = """
CREATE TABLE IF NOT EXISTS goalscorers (
    goal_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    team VARCHAR(100) NOT NULL,
    scorer VARCHAR(100) NOT NULL,
    minute DOUBLE NOT NULL,
    penalty BOOLEAN,
    own_goal BOOLEAN,
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

create_shootouts_table = """
CREATE TABLE IF NOT EXISTS shootouts (
    shootout_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    winner VARCHAR(100),
    first_shooter VARCHAR(100),
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

# Execute each CREATE TABLE command separately
try:
    with engine.connect() as connection:
        connection.execute(text(create_matches_table))
        print("Table 'matches' created successfully.")
        
        connection.execute(text(create_goalscorers_table))
        print("Table 'goalscorers' created successfully.")
        
        connection.execute(text(create_shootouts_table))
        print("Table 'shootouts' created successfully.")
except Exception as e:
    print(f"Error creating tables: {e}")

### Data insertion

In [ ]:
# Batch size for inserts
batch_size = 1000  # You can adjust this based on your dataset size

insert_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
VALUES (:date, :home_team, :away_team, :home_score, :away_score, :tournament, :city, :country, :neutral)
"""

# Connect to the database and execute the insert queries
try:
    with engine.begin() as connection:
        batch_data = []  # Temporary list to hold rows for batch insert
        for index, row in df_results.iterrows():
            batch_data.append({
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team'],
                'home_score': row['home_score'],
                'away_score': row['away_score'],
                'tournament': row['tournament'],
                'city': row['city'],
                'country': row['country'],
                'neutral': row['neutral']
            })
            if len(batch_data) >= batch_size:  # If batch size is reached
                connection.execute(text(insert_matches_query), batch_data)
                batch_data = []  # Reset batch data
        if batch_data:  # Insert any remaining data
            connection.execute(text(insert_matches_query), batch_data)
        print("Data inserted into 'matches' successfully.")
except Exception as e:
    print(f"Error inserting data into 'matches': {e}")

# Similarly, you can batch the other inserts for goalscorers and shootouts.
insert_goalscorers_query = """
INSERT INTO goalscorers (match_id, team, scorer, minute, penalty, own_goal)
VALUES (:match_id, :team, :scorer, :minute, :penalty, :own_goal)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_goalscorers.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'team': row['team'],
                    'scorer': row['scorer'],
                    'minute': row['minute'],
                    'penalty': row['penalty'],
                    'own_goal': row['own_goal']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_goalscorers_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_goalscorers_query), batch_data)
        print("Data inserted into 'goalscorers' successfully.")
except Exception as e:
    print(f"Error inserting data into 'goalscorers': {e}")

# Repeat similar process for 'shootouts' table.
insert_shootouts_query = """
INSERT INTO shootouts (match_id, winner, first_shooter)
VALUES (:match_id, :winner, :first_shooter)
"""

try:
    with engine.begin() as connection:
        batch_data = []
        for index, row in df_shootouts.iterrows():
            match_query = """
            SELECT match_id FROM matches 
            WHERE date = :date AND home_team = :home_team AND away_team = :away_team
            """
            match_result = connection.execute(text(match_query), {
                'date': row['date'],
                'home_team': row['home_team'],
                'away_team': row['away_team']
            }).fetchone()

            if match_result:
                match_id = match_result[0]
                batch_data.append({
                    'match_id': match_id,
                    'winner': row['winner'],
                    'first_shooter': row['first_shooter']
                })

            if len(batch_data) >= batch_size:
                connection.execute(text(insert_shootouts_query), batch_data)
                batch_data = []
        if batch_data:
            connection.execute(text(insert_shootouts_query), batch_data)
        print("Data inserted into 'shootouts' successfully.")
except Exception as e:
    print(f"Error inserting data into 'shootouts': {e}")

## Queries on SQL

### Two simple queries on SQL

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1
query1 = text("""
SELECT *
FROM matches
WHERE (
        (home_team = 'Portugal' AND home_score > 3) OR
        (away_team = 'Portugal' AND away_score > 3)
      )
  AND date > '2003-12-31';
""")

with engine.connect() as connection:
    start_time = time.time()
    results1 = connection.execute(query1)
    sql_basic_sq1_time = time.time() - start_time
    print("Time to execute query 1:", sql_basic_sq1_time)
    print("Results for Query 1:")
    for result in results1:
        print(result)

# Query 2
query2 = text("""
SELECT *
FROM matches
WHERE 
    (home_team = 'Australia' AND away_team = 'Sweden') OR
    (home_team = 'Sweden' AND away_team = 'Australia');
""")

with engine.connect() as connection:
    start_time = time.time()
    results2 = connection.execute(query2)
    sql_basic_sq2_time = time.time() - start_time
    print("Time to execute query 2:", sql_basic_sq2_time)
    print("Results for Query 2:")
    for result in results2:
        print(result)

### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# SQL query to get team pairs with match counts
team_pairs_query = """
WITH normalized_matches AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
)
SELECT 
    team1 AS home_team, 
    team2 AS away_team, 
    COUNT(*) AS match_count
FROM normalized_matches
GROUP BY team1, team2
HAVING COUNT(*) > 100;
"""
start_time = time.time()
try:
    with engine.connect() as connection:
        result = connection.execute(text(team_pairs_query))
        # Convert rows into a list of dictionaries
        team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
        
        # Print the results in the desired format
        print("Teams that have played with each other at least 100 times:")
        for team_pair in team_pairs:
            print(
                f"Home team:  {team_pair['home_team']} , "
                f"Away team:  {team_pair['away_team']} , "
                f"Count:  {team_pair['count']}"
            )
except Exception as e:
    print(f"Error fetching team pairs: {e}")

# SQL query to update matches
update_matches_query = """
WITH team_pairs AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100
)
UPDATE matches
SET neutral = TRUE
WHERE (
        (home_team, away_team) IN (
            SELECT team1, team2 FROM team_pairs
        ) 
        OR 
        (home_team, away_team) IN (
            SELECT team2, team1 FROM team_pairs
        )
      )
  AND (home_score + away_score) > 5;
"""

try:
    with engine.connect() as connection:
        result = connection.execute(text(update_matches_query))
        matched_count = result.rowcount
        sql_basic_cq1_time = time.time() - start_time
        print("Time to execute the complex query 1:", sql_basic_cq1_time)
        print(f"Matched count:  {matched_count}")
        print(f"Modified count:  {matched_count}")  # Assuming all matched rows are modified
except Exception as e:
    print(f"Error updating matches: {e}")

In [ ]:
# Query to fetch matches with the most difference
most_difference_query = """
SELECT 
    match_id,
    ABS(home_score - away_score) AS difference,
    date,
    home_team,
    away_team,
    home_score,
    away_score,
    tournament,
    city,
    country,
    neutral
FROM matches
ORDER BY difference DESC
LIMIT 100;
"""

# Query to insert flipped matches
insert_flipped_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
SELECT 
    date,
    away_team AS home_team,
    home_team AS away_team,
    away_score AS home_score,
    home_score AS away_score,
    tournament,
    city,
    country,
    neutral
FROM (
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        tournament,
        city,
        country,
        neutral
    FROM matches
    ORDER BY difference DESC
    LIMIT 100
) AS top_matches;
"""

start_time = time.time()
# Fetch matches with most difference
try:
    with engine.connect() as connection:
        # Execute the query
        result = connection.execute(text(most_difference_query))
        
        # Process results
        matches_with_most_difference = [
            {
                "match_id": row[0],  # Adjust indices to match query column order
                "difference": row[1],
                "date": row[2],
                "home_team": row[3],
                "away_team": row[4],
                "home_score": row[5],
                "away_score": row[6],
                "tournament": row[7],
                "city": row[8],
                "country": row[9],
                "neutral": row[10],
            }
            for row in result
        ]
        
        # Print matches in the desired format
        print("Matches with the most difference between the home_score and away_score:")
        for idx, match in enumerate(matches_with_most_difference, start=1):
            print(
                f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
                f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
                f"Home score: {match['home_score']}, Away score: {match['away_score']}"
            )

        # Insert flipped matches
        result = connection.execute(text(insert_flipped_matches_query))
        print(f"Inserted flipped matches. Rows affected: {result.rowcount}")
        sql_basic_cq2_time = time.time() - start_time
        print("Time to execute the complex query 2:", sql_basic_cq2_time)

except Exception as e:
    print(f"Error processing matches: {e}")

# PHASE 2

## DATABASES OPTIMIZATION

### MONGODB with more performance

#### Connections to MongoDB

In [179]:
# MongoDB do Miguel Dinis
# client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

#### MongoDB collections structure for the new optimize version

As we trying to optimize the database for the queries, we will create 2 collections, one for the matches that will have the date, the teams that played and the scores, and another collection for the details of the matches, that will have the rest of the information. We know that normally in NoSQL databases we should embed the data, but in this case we are trying to optimize the queries, and this queries for the most part only need the information of the matches, so having 5 columns in the main collection is better than having all the information embedded in the same collection.

In [180]:

schema_validator_matches = {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Schema for the results of the matches",
        "required": [
            "date",
            "home_team",
            "away_team",
            "home_score",
            "away_score",
            "details",
        ],
        "properties": {
            "date": {
                "bsonType": "date",
                "description": "Must be a date representing the date of the match",
            },
            "home_team": {
                "bsonType": "string",
                "description": "Must be a string representing the home team",
            },
            "away_team": {
                "bsonType": "string",
                "description": "Must be a string representing the away team",
            },
            "home_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the home team score",
            },
            "away_score": {
                "bsonType": "int",
                "description": "Must be an integer representing the away team score",
            },
            "details": {
                "bsonType": "objectId",
                "description": "Must be an objectID representing the details of the match",
            },
        },
    }
}

schema_validator_details = {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Schema for the details of the matches",
        "required": [
            "tournament",
            "city",
            "country",
            "neutral",
            "goalscorers"
        ],
        "properties": {
            "tournament": {
                "bsonType": "string",
                "description": "Must be a string representing the tournament name",
            },
            "city": {
                "bsonType": "string",
                "description": "Must be a string representing the city",
            },
            "country": {
                "bsonType": "string",
                "description": "Must be a string representing the country",
            },
            "neutral": {
                "bsonType": "bool",
                "description": "Must be a boolean indicating if the match was played at a neutral venue",
            },
            "goalscorers": {
                "bsonType": "array",
                "description": "List of goalscorers, can be empty",
                "items": {
                    "bsonType": "object",
                    "required": ["team", "scorer", "minute", "own_goal", "penalty"],
                    "properties": {
                        "team": {
                            "bsonType": "string",
                            "description": "Must be a string representing the team of the scorer",
                        },
                        "scorer": {
                            "bsonType": "string",
                            "description": "Must be a string representing the name of the scorer",
                        },
                        "minute": {
                            "bsonType": "double",
                            "description": "Must be a float representing the minute of the goal",
                        },
                        "own_goal": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was an own goal",
                        },
                        "penalty": {
                            "bsonType": "bool",
                            "description": "Must be a boolean indicating if the goal was a penalty",
                        },
                    },
                },
            },
            "shootout": {
                "oneOf": [
                    {
                        "bsonType": "null",
                        "description": "Can be null if no shootout occurred",
                    },
                    {
                        "bsonType": "object",
                        "description": "Optional object for shootout details",
                        "required": ["winner", "first_shooter"],
                        "properties": {
                            "winner": {
                                "bsonType": "string",
                                "description": "Must be a string representing the shootout winner",
                            },
                            "first_shooter": {
                                "bsonType": "string",
                                "description": "Must be a string representing the first shooter",
                            },
                        },
                    },
                ],
            }
        },
    }
}

#### Database and Collection creation

In [181]:
client.drop_database('football_optimized') # Drop the database if it already exists

db_mongo_optimized = client['football_optimized'] # Create the database

# Create the collections withe their schema validators

try:
    collection_matches = db_mongo_optimized.create_collection('football_results', validator={'$jsonSchema': schema_validator_matches['$jsonSchema']})
    collection_details = db_mongo_optimized.create_collection('football_details', validator={'$jsonSchema': schema_validator_details['$jsonSchema']})
except Exception as e:
    print(e)

#### Data insertion

First we need to put together all the dataframes into a single one, inserting the goalscorers and shootout details into one dataframe. After that we can insert the data into the MongoDB collection.

Obs: We saw that exists 2 shootouts there are not in the results.csv file, so we will not insert them in the database, because if we dont have the match itself, we thought that it would not make sense to insert the shootout in the database.

In [ ]:

# Create the dataframe to insert into the database
df_details = df_results[["date", "home_team", "away_team", "tournament", "city", "country", "neutral"]].copy(deep=True)

df_matches = df_results[["date", "home_team", "away_team", "home_score", "away_score"]].copy(deep=True)


# Group the goalscorers by date, home_team, away_team and put each goalscorer in a object with the team, scorer, minute, own_goal and penalty fields in a list
grouped_goalscorers = df_goalscorers.groupby(["date", "home_team", "away_team"], group_keys=False).apply(
    lambda x: x[["team", "scorer", "minute", "own_goal", "penalty"]].to_dict(orient="records"),
    include_groups=False
).reset_index(name="goalscorers")

# Merge the grouped goalscorers with the matches dataframe
df_details = pd.merge(df_details, grouped_goalscorers, on=["date", "home_team", "away_team"], how="left")

# Fill the NaN values with an empty list
df_details["goalscorers"] = df_details["goalscorers"].apply(lambda x: [] if isinstance(x, float) and pd.isna(x) else x)

# Group the shootouts by date, home_team, away_team and put the winner and first_shooter in a object
grouped_shootouts = df_shootouts.groupby(["date", "home_team", "away_team"], group_keys=False).apply(
    lambda x: {
        "winner": x["winner"].iloc[0],
        "first_shooter": x["first_shooter"].iloc[0]
    },
    include_groups=False
).reset_index(name="shootout")

# Adding the column shootout to the dataframe 
df_details = pd.merge(df_details, grouped_shootouts, on=["date", "home_team", "away_team"], how="left")

# Fill the NaN values with None
df_details["shootout"] = df_details["shootout"].apply(lambda x: None if isinstance(x, float) and pd.isna(x) else x)

# Create a copy of the dataframe to insert into the collection `details` without the columns "date", "home_team", "away_team"

df_details_to_insert = df_details.drop(columns=["date", "home_team", "away_team"])


# Insert the data into the collection `details` and get the ids of the inserted documents
detail_ids = collection_details.insert_many(df_details_to_insert.to_dict(orient="records")).inserted_ids
df_details["_id"] = detail_ids

# Insert the data into the collection `matches` with the ids of the inserted documents in the `details` collection
df_matches = df_matches.merge(df_details[["_id", "date", "home_team", "away_team"]], on=["date", "home_team", "away_team"])

# Rename the column `_id` to `details`
df_matches.rename(columns={"_id": "details"}, inplace=True)

# Insert the data into the collection `matches`
collection_matches.insert_many(df_matches.to_dict(orient="records"))

print("Data inserted into the MongoDB collections successfully.")

### Queries on MongoDB with more performance but without Indexes

#### Two simple queries on MongoDB

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [ ]:
# Query 1

# We need to convert the date to a datetime object to compare it with the date_limit
date_limit = datetime.datetime(2003, 12, 31)

query1 = {
        "description": "Games where Portugal scored more than 3 goals after 2003",
        "query": {
            "$and": [
                {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                         {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                {"date": {"$gt": date_limit}}
            ]
        }
    }


# Query 2
query2 = {
        "description": "Games where Australia and Sweden played against each other",
        "query": {
            "$or": [
                {"home_team": "Australia", "away_team": "Sweden"},
                {"home_team": "Sweden", "away_team": "Australia"}
            ]
        }
    }

# Execute the queries
start_time = time.perf_counter()
results = collection_matches.find(query1['query'])
mongo_optimized_sq1_time = time.perf_counter() - start_time
print("Time to execute query 1:", mongo_optimized_sq1_time)
print(len(list(results)), " results for query 1")
    
start_time = time.perf_counter()
results = collection_matches.find(query2['query'])
mongo_optimized_sq2_time = time.perf_counter() - start_time
print("Time to execute query 2:", mongo_optimized_sq2_time)
print(len(list(results)), " results for query 2")

#### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [ ]:
# Complex query 1

# Obtain the teams that have played with each other at least 100 times
pipeline = [
    {
        "$project": {
            "team_pair": {
                "$cond": [
                    { "$lt": ["$home_team", "$away_team"] },
                    { "home_team": "$home_team", "away_team": "$away_team" },
                    { "home_team": "$away_team", "away_team": "$home_team" }
                ]
            }
        }
    },
    {
        "$group": {
            "_id": "$team_pair",
            "count": { "$sum": 1 }
        }
    },
    {
        "$match": {
            "count": { "$gt": 100 }
        }
    }
]


start_time = time.perf_counter()
# Get the teams that have played with each other at least 100 times
teams_that_played_at_least_100_times = list(collection_matches.aggregate(pipeline))


matched_count = 0
modified_count = 0

for team_pair in teams_that_played_at_least_100_times:
    home_team = team_pair['_id']['home_team']
    away_team = team_pair['_id']['away_team']
    
    try:
        # Define the query para os matches
        match_query = {
            "$or": [
                {"home_team": home_team, "away_team": away_team},
                {"home_team": away_team, "away_team": home_team}
            ],
            "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
        }
        
        # Find the detail ids of the matches that match the query
        detail_ids = collection_matches.distinct("details", match_query)
        
        # Update the documents with the detail ids
        update_result = collection_details.update_many(
            {"_id": {"$in": [ObjectId(id) for id in detail_ids]}},
            {"$set": {"neutral": True}}
        )
        
        matched_count += update_result.matched_count
        modified_count += update_result.modified_count

    except Exception as e:
        print("Error updating the documents, error: ", e)
        
mongo_optimized_cq1_time = time.perf_counter() - start_time     
print("Time to execute complex query 1:", mongo_optimized_cq1_time)

# Print the teams that have played with each other at least 100 times
print("Teams that have played with each other at least 100 times:")
for team_pair in teams_that_played_at_least_100_times:
    print("Home team: ", team_pair['_id']['home_team'], ", Away team: ", team_pair['_id']['away_team'], ", Count: ", team_pair['count'])

print("Matched count: ", matched_count)
print("Modified count: ", modified_count)

In [ ]:
# Complex query 2

# Get the 100 matches with the most difference in goals scored between the two teams
pipeline = [
    {
        "$lookup": {
            "from": "football_details",
            "localField": "details",
            "foreignField": "_id",
            "as": "details"
        }
    },
    {
        "$unwind": "$details"
    },
    {
        "$project": {
            "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
            "date": 1,
            "home_team": 1,
            "away_team": 1,
            "home_score": 1,
            "away_score": 1,
            "details.tournament": 1,
            "details.city": 1,
            "details.country": 1,
            "details.neutral": 1
        }
    },
    {"$sort": {"difference": -1}},
    {"$limit": 100}
]

start_time = time.perf_counter()
matches_with_most_difference = list(collection_matches.aggregate(pipeline))

new_matches = []
new_details = []

def create_detail_id(original_detail):
    """Create a new detail object without the _id field"""
    cloned_detail = original_detail.copy()
    cloned_detail.pop('_id', None)
    cloned_detail['goalscorers'] = []  
    cloned_detail['shootout'] = None 
    return cloned_detail

for match in matches_with_most_difference:
    # Create a new detail object without the _id field
    original_details = match['details']
    new_detail = create_detail_id(original_details)
    new_details.append(new_detail)

    # Add the new match with the flipped scores
    new_match = {
        "date": match['date'],
        "home_team": match['home_team'],
        "away_team": match['away_team'],
        "home_score": match['away_score'],
        "away_score": match['home_score'],
        "details": None 
    }
    new_matches.append(new_match)

# Insert the new details
inserted_details = collection_details.insert_many(new_details)

# Update the new matches with the inserted details
for i, new_match in enumerate(new_matches):
    new_match['details'] = inserted_details.inserted_ids[i]

# Insert the new matches
try:
    collection_matches.insert_many(new_matches)
except Exception as e:
    print("Error inserting the documents, error: ", e)

mongo_optimized_cq2_time = time.perf_counter() - start_time
print("Time to execute the optimized query:", mongo_optimized_cq2_time)

counter = 1
for match in matches_with_most_difference:
    print("Match number: ", counter, ", Difference: ", match['difference'], ", Date: ", match['date'], ", Home team: ", match['home_team'], ", Away team: ", match['away_team'])
    counter += 1

print(f"Inserted {len(new_matches)} flipped matches.")

### SQL with more performance

#### Connecting to MYSQL

In [189]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
username = 'root'
# password = "1234"

# Miguel Borges
# username = 'root'
# password = "Cfsb1705!"

# Miguel Dinis
# username = 'root'
password = "MySQLMD-2024"

# Rafael
# username = 'root'
# password = "olaolaola"

host = 'localhost'
port = '3306'
database_name = 'football_db_optimized'
table_name = 'football'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

Successfully connected to MySQL server.

#### Creating the database

In [190]:
# Create the database
try:
    with engine.connect() as connection:
        connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))  # Optional: Drops if already exists
        connection.execute(text(f"CREATE DATABASE {database_name}"))
        print(f"Database '{database_name}' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Use the specific database
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

Database 'football_db_optimized' created successfully.

#### Defining the relational schema
We created a **locations** table to make it easier to identify a match from the *matches* table by looking for the *location_id*, that leads to a specific *city* and *country*. \
We have also created a **details** table that stores the *tournament*, *location_id* and the *neutral fields*. \
After this, the **matches** table will store only the main features of each match, which are *date*, *home_team*, *away_team*, *home_score*, *away_score* and *detail_id*.

In [191]:
# SQL commands for individual table creation
create_locations_table = """
CREATE TABLE IF NOT EXISTS locations (
    location_id INT AUTO_INCREMENT PRIMARY KEY,
    city VARCHAR(100) NOT NULL,
    country VARCHAR(100) NOT NULL
);
"""

# create details table with the tournament, location_id and neutral fields
create_details_table = """
CREATE TABLE IF NOT EXISTS details (
    detail_id INT AUTO_INCREMENT PRIMARY KEY,
    tournament VARCHAR(100),
    location_id INT,
    neutral BOOLEAN,
    FOREIGN KEY (location_id) REFERENCES locations(location_id)
);
"""
 
# matches table with the date, home_team, away_team, home_score, away_score, detail_id fields
create_matches_table = """
CREATE TABLE IF NOT EXISTS matches (
    match_id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    home_team VARCHAR(100) NOT NULL,
    away_team VARCHAR(100) NOT NULL,
    home_score INT NOT NULL,
    away_score INT NOT NULL,
    detail_id INT,
    FOREIGN KEY (detail_id) REFERENCES details(detail_id)
);
"""

create_goalscorers_table = """
CREATE TABLE IF NOT EXISTS goalscorers (
    goal_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    team VARCHAR(100) NOT NULL,
    scorer VARCHAR(100) NOT NULL,
    minute DOUBLE NOT NULL,
    penalty BOOLEAN,
    own_goal BOOLEAN,
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

create_shootouts_table = """
CREATE TABLE IF NOT EXISTS shootouts (
    shootout_id INT AUTO_INCREMENT PRIMARY KEY,
    match_id INT NOT NULL,
    winner VARCHAR(100),
    first_shooter VARCHAR(100),
    FOREIGN KEY (match_id) REFERENCES matches(match_id)
);
"""

# Execute each CREATE TABLE command separately
try:
    with engine.connect() as connection:
        # fazer USE da football_db_optimized
        connection.execute(text(f"USE football_db_optimized"))
        
        connection.execute(text(create_locations_table))
        print("Table 'locations' created successfully.")
        
        connection.execute(text(create_details_table))
        print("Table 'details' created successfully.")
        
        connection.execute(text(create_matches_table))
        print("Table 'matches' created successfully.")
        
        connection.execute(text(create_goalscorers_table))
        print("Table 'goalscorers' created successfully.")
        
        connection.execute(text(create_shootouts_table))
        print("Table 'shootouts' created successfully.")
except Exception as e:
    print(f"Error creating tables: {e}")

Table 'locations' created successfully.
Table 'details' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.

#### Data insertion

In [194]:
# Insert data into 'locations' table
insert_locations_query = text("""
INSERT INTO locations (city, country)
VALUES (:city, :country)
ON DUPLICATE KEY UPDATE location_id = LAST_INSERT_ID(location_id)
""")
try:
    with engine.begin() as connection:
        # fazer USE da football_db_optimized
        connection.execute(text(f"USE football_db_optimized"))
        unique_locations = df_results[['city', 'country']].drop_duplicates()
        location_data = unique_locations.to_dict(orient='records')
        connection.execute(insert_locations_query, location_data)
        print("Data inserted into 'locations' successfully.")
except Exception as e:
    print(f"Error inserting data into 'locations': {e}")

# Fetch location IDs
location_map = {}
try:
    fetch_locations_query = text("SELECT location_id, city, country FROM locations")
    with engine.connect() as connection:
        result = connection.execute(fetch_locations_query).fetchall()
        for row in result:
            location_map[(row.city, row.country)] = row.location_id
except Exception as e:
    print(f"Error fetching location mapping: {e}")

# Insert data into 'details' table
insert_details_query = text("""
INSERT INTO details (tournament, location_id, neutral)
VALUES (:tournament, :location_id, :neutral)
ON DUPLICATE KEY UPDATE detail_id = LAST_INSERT_ID(detail_id)
""")
try:
    with engine.begin() as connection:
        details_data = []
        for _, row in df_results.iterrows():
            location_id = location_map.get((row['city'], row['country']))
            if location_id:
                details_data.append({
                    'tournament': row['tournament'],
                    'location_id': location_id,
                    'neutral': row['neutral']
                })
        if details_data:  # Ensure there's data to insert
            connection.execute(insert_details_query, details_data)
            print("Data inserted into 'details' successfully.")
except Exception as e:
    print(f"Error inserting data into 'details': {e}")

# Fetch detail IDs
detail_map = {}
try:
    fetch_details_query = text("""
        SELECT detail_id, tournament, location_id 
        FROM details
    """)
    with engine.connect() as connection:
        result = connection.execute(fetch_details_query).fetchall()
        for row in result:
            detail_map[(row.tournament, row.location_id)] = row.detail_id
except Exception as e:
    print(f"Error fetching detail mapping: {e}")

# Fetch match IDs for matching teams
match_map = {}
try:
    fetch_matches_query = text("""
        SELECT match_id, date, home_team, away_team 
        FROM matches
    """)
    with engine.connect() as connection:
        result = connection.execute(fetch_matches_query).fetchall()
        for row in result:
            match_map[(row.date, row.home_team, row.away_team)] = row.match_id
except Exception as e:
    print(f"Error fetching match mapping: {e}")

# Insert data into 'matches' table
insert_matches_query = text("""
INSERT INTO matches (date, home_team, away_team, home_score, away_score, detail_id)
VALUES (:date, :home_team, :away_team, :home_score, :away_score, :detail_id)
""")
try:
    with engine.begin() as connection:
        match_data = []
        for _, row in df_results.iterrows():
            location_id = location_map.get((row['city'], row['country']))
            detail_id = detail_map.get((row['tournament'], location_id))
            if detail_id:
                match_data.append({
                    'date': row['date'],
                    'home_team': row['home_team'],
                    'away_team': row['away_team'],
                    'home_score': row['home_score'],
                    'away_score': row['away_score'],
                    'detail_id': detail_id
                })
        if match_data:  # Ensure there's data to insert
            connection.execute(insert_matches_query, match_data)
            print("Data inserted into 'matches' successfully.")
except Exception as e:
    print(f"Error inserting data into 'matches': {e}")

# Ensure the 'date' column in df_shootouts is in datetime format
df_shootouts['date'] = pd.to_datetime(df_shootouts['date'], errors='coerce')  # Convert to datetime, invalid parsing will be set as NaT

# Now, normalize the date format to just the date (without time part)
df_shootouts['date'] = df_shootouts['date'].dt.date  # Convert to date only

# Normalize the date format in match_map (convert date in match_map to date only)
match_map = { (pd.to_datetime(key[0]).date(), key[1], key[2]): match_id for key, match_id in match_map.items() }

# Now try the insertion again
insert_shootouts_query = text("""
INSERT INTO shootouts (match_id, winner, first_shooter)
VALUES (:match_id, :winner, :first_shooter)
""")
try:
    with engine.begin() as connection:
        shootout_data = []
        for _, row in df_shootouts.iterrows():
            match_key = (row['date'], row['home_team'], row['away_team'])
            match_id = match_map.get(match_key)
            if match_id:
                shootout_data.append({
                    'match_id': match_id,
                    'winner': row['winner'],
                    'first_shooter': row['first_shooter']
                })
            else:
                print(f"Warning: No match ID found for {match_key} in shootouts.")
        if shootout_data:  # Ensure there's data to insert
            connection.execute(insert_shootouts_query, shootout_data)
            print("Data inserted into 'shootouts' successfully.")
        else:
            print("No valid data to insert into 'shootouts'.")
except Exception as e:
    print(f"Error inserting data into 'shootouts': {e}")

# Ensure the 'date' column in df_goalscorers is in datetime format
df_goalscorers['date'] = pd.to_datetime(df_goalscorers['date'], errors='coerce')

# Normalize the date format in match_map (convert date in match_map to date only)
match_map = { (pd.to_datetime(key[0]).date(), key[1], key[2]): match_id for key, match_id in match_map.items() }

# Insert data into 'goalscorers' table
insert_goalscorers_query = text("""
INSERT INTO goalscorers (match_id, scorer, team, minute, own_goal, penalty)
VALUES (:match_id, :scorer, :team, :minute, :own_goal, :penalty)
""")
try:
    with engine.begin() as connection:
        goalscorer_data = []
        for _, row in df_goalscorers.iterrows():
            # Match key includes date, home_team, and away_team
            match_key = (row['date'].date(), row['home_team'], row['away_team'])
            match_id = match_map.get(match_key)
            
            if match_id:
                goalscorer_data.append({
                    'match_id': match_id,
                    'scorer': row['scorer'],  # 'scorer' represents the player
                    'team': row['team'],      # 'team' represents the team
                    'minute': row['minute'],
                    'own_goal': row['own_goal'],
                    'penalty': row['penalty']
                })
            else:
                print(f"Warning: No match ID found for {match_key} in goalscorers.")
        
        if goalscorer_data:  # Ensure there's data to insert
            connection.execute(insert_goalscorers_query, goalscorer_data)
            print("Data inserted into 'goalscorers' successfully.")
        else:
            print("No valid data to insert into 'goalscorers'.")
except Exception as e:
    print(f"Error inserting data into 'goalscorers': {e}")

Data inserted into 'locations' successfully.
Data inserted into 'details' successfully.
Data inserted into 'matches' successfully.
Warning: No match ID found for (datetime.date(2011, 6, 29), 'Saare County', 'Åland Islands') in shootouts.
Warning: No match ID found for (datetime.date(2023, 7, 13), 'Åland', 'Falkland Islands') in shootouts.
Data inserted into 'shootouts' successfully.
Data inserted into 'goalscorers' successfully.

### Queries on SQL with more performance but without Indexes

#### Two simple queries on SQL

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [195]:
# Query 1
query1 = text("""
SELECT *
FROM matches
WHERE (
        (home_team = 'Portugal' AND home_score > 3) OR
        (away_team = 'Portugal' AND away_score > 3)
      )
  AND date > '2003-12-31';
""")

with engine.connect() as connection:
    start_time = time.time()
    results1 = connection.execute(query1)
    sql_optimized_sq1_time = time.time() - start_time
    print("Time to execute query 1:", sql_optimized_sq1_time)
    print("Results for Query 1:")
    for result in results1:
        print(result)

# Query 2
query2 = text("""
SELECT *
FROM matches
WHERE 
    (home_team = 'Australia' AND away_team = 'Sweden') OR
    (home_team = 'Sweden' AND away_team = 'Australia');
""")

with engine.connect() as connection:
    start_time = time.time()
    results2 = connection.execute(query2)
    sql_optimized_sq2_time = time.time() - start_time
    print("Time to execute query 2:", sql_optimized_sq2_time)
    print("Results for Query 2:")
    for result in results2:
        print(result)

Time to execute query 1: 0.06750106811523438
Results for Query 1:
(28202, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 46532)
(28558, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 28558)
(28674, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 44621)
(28742, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 44622)
(29037, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 29037)
(29400, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 40972)
(29917, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 29917)
(30687, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 46674)
(32189, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 47240)
(32252, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 40939)
(33364, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 33364)
(33848, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 33882)
(33973, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 33973)
(34296, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 47103)
(34977, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 37733)
(35043, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 43167)
(35225, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 46454)
(35430, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 46674)
(37162, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 44637)
(37552, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 41126)
(37778, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 42787)
(39767, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 47103)
(39918, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 42254)
(40052, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 40052)
(40097, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 44509)
(40220, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 40972)
(40519, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 40519)
(40681, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 40742)
(40819, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 44996)
(42808, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 46556)
(42870, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 43022)
(43104, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 46748)
(43316, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 43316)
(43490, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 47103)
(43990, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 47103)
(44501, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 44501)
(45151, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 47493)
(45455, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 47646)
(45586, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 47103)
(45685, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 45699)
(45789, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 46674)
(45867, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 46616)
(46343, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 46343)
(46507, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 46940)
(46967, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 46967)
(47103, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 47103)
(75959, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 94289)
(76315, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 76315)
(76431, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 92378)
(76499, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 92379)
(76794, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 76794)
(77157, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 88729)
(77674, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 77674)
(78444, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 94431)
(79946, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 94997)
(80009, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 88696)
(81121, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 81121)
(81605, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 81639)
(81730, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 81730)
(82053, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 94860)
(82734, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 85490)
(82800, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 90924)
(82982, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 94211)
(83187, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 94431)
(84919, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 92394)
(85309, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 88883)
(85535, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 90544)
(87524, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 94860)
(87675, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 90011)
(87809, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 87809)
(87854, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 92266)
(87977, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 88729)
(88276, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 88276)
(88438, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 88499)
(88576, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 92753)
(90565, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 94313)
(90627, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 90779)
(90861, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 94505)
(91073, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 91073)
(91247, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 94860)
(91747, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 94860)
(92258, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 92258)
(92908, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 95250)
(93212, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 95403)
(93343, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 94860)
(93442, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 93456)
(93546, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 94431)
(93624, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 94373)
(94100, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 94100)
(94264, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 94697)
(94724, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 94724)
(94860, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 94860)
(123716, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 142046)
(124072, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 124072)
(124188, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 140135)
(124256, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 140136)
(124551, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 124551)
(124914, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 136486)
(125431, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 125431)
(126201, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 142188)
(127703, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 142754)
(127766, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 136453)
(128878, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 128878)
(129362, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 129396)
(129487, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 129487)
(129810, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 142617)
(130491, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 133247)
(130557, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 138681)
(130739, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 141968)
(130944, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 142188)
(132676, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 140151)
(133066, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 136640)
(133292, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 138301)
(135281, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 142617)
(135432, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 137768)
(135566, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 135566)
(135611, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 140023)
(135734, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 136486)
(136033, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 136033)
(136195, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 136256)
(136333, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 140510)
(138322, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 142070)
(138384, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 138536)
(138618, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 142262)
(138830, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 138830)
(139004, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 142617)
(139504, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 142617)
(140015, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 140015)
(140665, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 143007)
(140969, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 143160)
(141100, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 142617)
(141199, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 141213)
(141303, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 142188)
(141381, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 142130)
(141857, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 141857)
(142021, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 142454)
(142481, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 142481)
(142617, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 142617)
Time to execute query 2: 0.048748016357421875
Results for Query 2:
(18079, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 45798)
(18082, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 34722)
(18084, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 45901)
(20831, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 45397)
(20834, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 45798)
(65836, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 93555)
(65839, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 82479)
(65841, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 93658)
(68588, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 93154)
(68591, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 93555)
(113593, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 141312)
(113596, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 130236)
(113598, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 141415)
(116345, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 140911)
(116348, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 141312)

#### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [196]:
# SQL query to get team pairs with match counts
team_pairs_query = """
WITH normalized_matches AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
)
SELECT 
    team1 AS home_team, 
    team2 AS away_team, 
    COUNT(*) AS match_count
FROM normalized_matches
GROUP BY team1, team2
HAVING COUNT(*) > 100;
"""

start_time = time.time()
try:
    with engine.connect() as connection:
        result = connection.execute(text(team_pairs_query))
        # Convert rows into a list of dictionaries
        team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
        
        # Print the results in the desired format
        print("Teams that have played with each other at least 100 times:")
        for team_pair in team_pairs:
            print(
                f"Home team:  {team_pair['home_team']} , "
                f"Away team:  {team_pair['away_team']} , "
                f"Count:  {team_pair['count']}"
            )
except Exception as e:
    print(f"Error fetching team pairs: {e}")

# SQL query to update matches and update details with neutral that does not belong to matches anymore
update_matches_query = """
WITH team_pairs AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100
)
UPDATE details
SET neutral = TRUE
WHERE detail_id IN (
    SELECT DISTINCT detail_id
    FROM matches
    WHERE (
            (home_team, away_team) IN (
                SELECT team1, team2 FROM team_pairs
            ) 
            OR 
            (home_team, away_team) IN (
                SELECT team2, team1 FROM team_pairs
            )
          )
      AND (home_score + away_score) > 5
);
"""


try:
    with engine.connect() as connection:
        result = connection.execute(text(update_matches_query))
        matched_count = result.rowcount
        print("Time to execute complex query 1:", time.time() - start_time)
        print(f"Matched count:  {matched_count}")
        print(f"Modified count:  {matched_count}")  # Assuming all matched rows are modified
except Exception as e:
    print(f"Error updating matches: {e}")

Teams that have played with each other at least 100 times:
Home team:  England , Away team:  Scotland , Count:  354
Home team:  Scotland , Away team:  Wales , Count:  318
Home team:  England , Away team:  Wales , Count:  315
Home team:  England , Away team:  Northern Ireland , Count:  297
Home team:  Northern Ireland , Away team:  Wales , Count:  282
Home team:  Northern Ireland , Away team:  Scotland , Count:  288
Home team:  Canada , Away team:  United States , Count:  120
Home team:  Argentina , Away team:  Uruguay , Count:  546
Home team:  Austria , Away team:  Hungary , Count:  411
Home team:  Czechoslovakia , Away team:  Hungary , Count:  135
Home team:  Belgium , Away team:  France , Count:  234
Home team:  France , Away team:  Switzerland , Count:  117
Home team:  Alderney , Away team:  Guernsey , Count:  192
Home team:  Guernsey , Away team:  Jersey , Count:  357
Home team:  Belgium , Away team:  Netherlands , Count:  384
Home team:  Alderney , Away team:  Jersey , Count:  147
Home team:  Germany , Away team:  Switzerland , Count:  162
Home team:  Austria , Away team:  Germany , Count:  120
Home team:  Norway , Away team:  Sweden , Count:  327
Home team:  Germany , Away team:  Hungary , Count:  114
Home team:  Germany , Away team:  Netherlands , Count:  144
Home team:  France , Away team:  Italy , Count:  117
Home team:  Hungary , Away team:  Italy , Count:  102
Home team:  Argentina , Away team:  Chile , Count:  270
Home team:  Chile , Away team:  Uruguay , Count:  249
Home team:  Hungary , Away team:  Switzerland , Count:  141
Home team:  Italy , Away team:  Switzerland , Count:  186
Home team:  Germany , Away team:  Sweden , Count:  111
Home team:  Finland , Away team:  Sweden , Count:  273
Home team:  Hungary , Away team:  Sweden , Count:  126
Home team:  Austria , Away team:  Italy , Count:  114
Home team:  Denmark , Away team:  Sweden , Count:  324
Home team:  Argentina , Away team:  Brazil , Count:  327
Home team:  Denmark , Away team:  Norway , Count:  258
Home team:  Brazil , Away team:  Chile , Count:  225
Home team:  Brazil , Away team:  Uruguay , Count:  234
Home team:  China PR , Away team:  Japan , Count:  129
Home team:  Austria , Away team:  Switzerland , Count:  129
Home team:  Argentina , Away team:  Paraguay , Count:  318
Home team:  Estonia , Away team:  Finland , Count:  114
Home team:  Austria , Away team:  Sweden , Count:  114
Home team:  Finland , Away team:  Norway , Count:  186
Home team:  Costa Rica , Away team:  El Salvador , Count:  189
Home team:  Costa Rica , Away team:  Guatemala , Count:  186
Home team:  Paraguay , Away team:  Uruguay , Count:  234
Home team:  Brazil , Away team:  Paraguay , Count:  249
Home team:  Portugal , Away team:  Spain , Count:  123
Home team:  France , Away team:  Spain , Count:  111
Home team:  Romania , Away team:  Yugoslavia , Count:  114
Home team:  Australia , Away team:  New Zealand , Count:  195
Home team:  Poland , Away team:  Romania , Count:  108
Home team:  Estonia , Away team:  Latvia , Count:  189
Home team:  Chile , Away team:  Paraguay , Count:  201
Home team:  Germany , Away team:  Italy , Count:  111
Home team:  England , Away team:  France , Count:  102
Home team:  Estonia , Away team:  Lithuania , Count:  186
Home team:  Italy , Away team:  Spain , Count:  120
Home team:  Aruba , Away team:  Curaçao , Count:  144
Home team:  Haiti , Away team:  Jamaica , Count:  165
Home team:  Austria , Away team:  Czechoslovakia , Count:  108
Home team:  Bulgaria , Away team:  Romania , Count:  102
Home team:  Latvia , Away team:  Lithuania , Count:  183
Home team:  Denmark , Away team:  Finland , Count:  180
Home team:  Kenya , Away team:  Uganda , Count:  330
Home team:  Bolivia , Away team:  Chile , Count:  147
Home team:  Argentina , Away team:  Bolivia , Count:  129
Home team:  Bolivia , Away team:  Paraguay , Count:  210
Home team:  Bolivia , Away team:  Uruguay , Count:  141
Home team:  Peru , Away team:  Uruguay , Count:  210
Home team:  El Salvador , Away team:  Honduras , Count:  237
Home team:  Bolivia , Away team:  Peru , Count:  156
Home team:  Argentina , Away team:  Peru , Count:  165
Home team:  Guyana , Away team:  Trinidad and Tobago , Count:  195
Home team:  Barbados , Away team:  Trinidad and Tobago , Count:  138
Home team:  Paraguay , Away team:  Peru , Count:  174
Home team:  El Salvador , Away team:  Guatemala , Count:  234
Home team:  Costa Rica , Away team:  Honduras , Count:  186
Home team:  England , Away team:  Germany , Count:  105
Home team:  Greece , Away team:  Romania , Count:  105
Home team:  France , Away team:  Germany , Count:  102
Home team:  Guadeloupe , Away team:  Martinique , Count:  201
Home team:  Mexico , Away team:  United States , Count:  225
Home team:  Curaçao , Away team:  Suriname , Count:  126
Home team:  Suriname , Away team:  Trinidad and Tobago , Count:  141
Home team:  Chile , Away team:  Peru , Count:  255
Home team:  El Salvador , Away team:  Mexico , Count:  111
Home team:  Guatemala , Away team:  Honduras , Count:  126
Home team:  Honduras , Away team:  Mexico , Count:  129
Home team:  Costa Rica , Away team:  Mexico , Count:  168
Home team:  Jamaica , Away team:  Trinidad and Tobago , Count:  198
Home team:  French Guiana , Away team:  Suriname , Count:  132
Home team:  Brazil , Away team:  Peru , Count:  156
Home team:  Guyana , Away team:  Suriname , Count:  177
Home team:  Dominica , Away team:  Saint Lucia , Count:  105
Home team:  Costa Rica , Away team:  Panama , Count:  162
Home team:  Colombia , Away team:  Venezuela , Count:  123
Home team:  El Salvador , Away team:  Panama , Count:  135
Home team:  Bolivia , Away team:  Ecuador , Count:  111
Home team:  Colombia , Away team:  Peru , Count:  183
Home team:  Colombia , Away team:  Ecuador , Count:  147
Home team:  Bolivia , Away team:  Venezuela , Count:  117
Home team:  Ecuador , Away team:  Peru , Count:  159
Home team:  Peru , Away team:  Venezuela , Count:  114
Home team:  Ecuador , Away team:  Uruguay , Count:  150
Home team:  Chile , Away team:  Ecuador , Count:  159
Home team:  Ecuador , Away team:  Paraguay , Count:  123
Home team:  Argentina , Away team:  Ecuador , Count:  123
Home team:  Brazil , Away team:  Ecuador , Count:  105
Home team:  Brazil , Away team:  Colombia , Count:  111
Home team:  Colombia , Away team:  Uruguay , Count:  138
Home team:  Chile , Away team:  Colombia , Count:  132
Home team:  Argentina , Away team:  Colombia , Count:  126
Home team:  Tanzania , Away team:  Uganda , Count:  207
Home team:  Honduras , Away team:  Panama , Count:  147
Home team:  Guatemala , Away team:  Panama , Count:  114
Home team:  Zambia , Away team:  Zimbabwe , Count:  171
Home team:  Kenya , Away team:  Tanzania , Count:  207
Home team:  Madagascar , Away team:  Mauritius , Count:  117
Home team:  Mauritius , Away team:  Réunion , Count:  111
Home team:  Tanzania , Away team:  Zanzibar , Count:  126
Home team:  Colombia , Away team:  Paraguay , Count:  150
Home team:  Kenya , Away team:  Zanzibar , Count:  117
Home team:  Haiti , Away team:  Trinidad and Tobago , Count:  120
Home team:  China PR , Away team:  South Korea , Count:  114
Home team:  Ghana , Away team:  Nigeria , Count:  180
Home team:  Brazil , Away team:  Mexico , Count:  126
Home team:  Fiji , Away team:  New Zealand , Count:  117
Home team:  Malaysia , Away team:  South Korea , Count:  174
Home team:  Indonesia , Away team:  South Korea , Count:  117
Home team:  New Caledonia , Away team:  Tahiti , Count:  180
Home team:  Japan , Away team:  South Korea , Count:  219
Home team:  Malaysia , Away team:  Vietnam Republic , Count:  111
Home team:  Ghana , Away team:  Togo , Count:  102
Home team:  Ethiopia , Away team:  Sudan , Count:  123
Home team:  Canada , Away team:  Mexico , Count:  102
Home team:  Malawi , Away team:  Zambia , Count:  228
Home team:  Indonesia , Away team:  Thailand , Count:  204
Home team:  Malaysia , Away team:  Myanmar , Count:  165
Home team:  Singapore , Away team:  Thailand , Count:  195
Home team:  Myanmar , Away team:  Thailand , Count:  156
Home team:  Myanmar , Away team:  Singapore , Count:  129
Home team:  Indonesia , Away team:  Malaysia , Count:  216
Home team:  Malaysia , Away team:  Singapore , Count:  213
Home team:  Indonesia , Away team:  Singapore , Count:  174
Home team:  Malaysia , Away team:  Thailand , Count:  291
Home team:  Morocco , Away team:  Tunisia , Count:  108
Home team:  South Korea , Away team:  Thailand , Count:  156
Home team:  Malawi , Away team:  Tanzania , Count:  165
Home team:  Burkina Faso , Away team:  Mali , Count:  105
Home team:  Mali , Away team:  Senegal , Count:  105
Home team:  Ethiopia , Away team:  Uganda , Count:  117
Home team:  Congo , Away team:  DR Congo , Count:  105
Home team:  Fiji , Away team:  Solomon Islands , Count:  120
Home team:  Kenya , Away team:  Zambia , Count:  147
Home team:  Guinea , Away team:  Senegal , Count:  138
Home team:  Algeria , Away team:  Tunisia , Count:  114
Home team:  Tanzania , Away team:  Zambia , Count:  105
Home team:  Uganda , Away team:  Zambia , Count:  129
Home team:  Iraq , Away team:  Kuwait , Count:  102
Home team:  Guinea , Away team:  Mali , Count:  138
Home team:  Uruguay , Away team:  Venezuela , Count:  102
Home team:  Iraq , Away team:  Jordan , Count:  129
Home team:  Ghana , Away team:  Ivory Coast , Count:  117
Home team:  Bahrain , Away team:  Kuwait , Count:  141
Home team:  New Caledonia , Away team:  Vanuatu , Count:  117
Home team:  Indonesia , Away team:  Myanmar , Count:  126
Home team:  Malawi , Away team:  Zimbabwe , Count:  186
Home team:  Kenya , Away team:  Malawi , Count:  132
Home team:  Fiji , Away team:  Vanuatu , Count:  105
Home team:  Bahrain , Away team:  Qatar , Count:  120
Home team:  Kuwait , Away team:  Saudi Arabia , Count:  126
Home team:  Bahrain , Away team:  Saudi Arabia , Count:  111
Home team:  Kuwait , Away team:  Qatar , Count:  126
Home team:  Qatar , Away team:  Saudi Arabia , Count:  123
Home team:  Qatar , Away team:  United Arab Emirates , Count:  102
Home team:  Saudi Arabia , Away team:  United Arab Emirates , Count:  111
Home team:  Kuwait , Away team:  United Arab Emirates , Count:  132
Home team:  Bahrain , Away team:  Oman , Count:  132
Home team:  Oman , Away team:  Qatar , Count:  102
Home team:  Iraq , Away team:  Qatar , Count:  105
Home team:  Iraq , Away team:  Saudi Arabia , Count:  102
Home team:  Costa Rica , Away team:  United States , Count:  123
Home team:  Oman , Away team:  United Arab Emirates , Count:  102
Home team:  Eswatini , Away team:  Lesotho , Count:  117
Home team:  Rwanda , Away team:  Uganda , Count:  102
Time to execute complex query 1: 0.46120691299438477
Matched count:  1389
Modified count:  1389

In [197]:
# Query to fetch matches with the most difference
most_difference_query = """
WITH top_matches AS (
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        detail_id
    FROM matches
    ORDER BY difference DESC
    LIMIT 100
)
SELECT * FROM top_matches;
"""

insert_details_query = """
INSERT INTO details (tournament, location_id, neutral)
SELECT 
    d.tournament,
    d.location_id,
    d.neutral
FROM details d
WHERE d.detail_id IN (SELECT detail_id FROM top_matches);
"""

new_detail_ids_query = """
SELECT 
    detail_id
FROM details
ORDER BY detail_id DESC
LIMIT 100;
"""

insert_flipped_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, detail_id)
SELECT
    date,
    away_team AS home_team,
    home_team AS away_team,
    away_score AS home_score,
    home_score AS away_score,
    nd.detail_id
FROM matches
JOIN (
    SELECT 
        detail_id
    FROM details
    ORDER BY detail_id DESC
    LIMIT 100
) AS nd ON match_id = nd.detail_id;
"""

start_time = time.time()
# Fetch matches with most difference
try:
    with engine.connect() as connection:
        # Execute the query
        result = connection.execute(text(most_difference_query))
        
        # Process results
        matches_with_most_difference = [
            {
                "match_id": row[0],  # Adjust indices to match query column order
                "difference": row[1],
                "date": row[2],
                "home_team": row[3],
                "away_team": row[4],
                "home_score": row[5],
                "away_score": row[6],
                "detail_id": row[7]
            }
            for row in result
        ]
        
        # Print matches in the desired format
        print("Matches with the most difference between the home_score and away_score:")
        for idx, match in enumerate(matches_with_most_difference, start=1):
            print(
                f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
                f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
                f"Home score: {match['home_score']}, Away score: {match['away_score']}"
            )

        # Insert flipped matches
        result = connection.execute(text(insert_flipped_matches_query))
        print(f"Inserted flipped matches. Rows affected: {result.rowcount}")
        print("Time to execute complex query 2:", time.time() - start_time)

except Exception as e:
    print(f"Error processing matches: {e}")

Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 2, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 3, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 4, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 5, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 6, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 7, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 8, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 9, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 10, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 11, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 12, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 13, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 14, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 15, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 16, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 17, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 18, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 19, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 20, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 21, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 22, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 23, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 24, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 25, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 26, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 27, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 28, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 29, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 30, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 31, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 32, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 33, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 34, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 35, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 36, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 37, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 38, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 39, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 40, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 41, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 42, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 43, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 44, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 45, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 46, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 47, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 48, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 49, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 50, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 51, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 52, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 53, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 54, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 55, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 56, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 57, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 58, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 59, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 60, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 61, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 62, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 63, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 64, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 65, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 66, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 67, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 68, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 69, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 70, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 71, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 72, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 73, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 74, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 75, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 76, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 77, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 78, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 79, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 80, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 81, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 82, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 83, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 84, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 85, Difference: 16, Date: 2011-09-05, Home team: Kiribati, Away team: Tahiti, Home score: 1, Away score: 17
Match number: 86, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 87, Difference: 16, Date: 2012-09-05, Home team: Martinique, Away team: British Virgin Islands, Home score: 16, Away score: 0
Match number: 88, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 89, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 90, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 91, Difference: 16, Date: 2012-01-14, Home team: Gozo, Away team: Raetia, Home score: 17, Away score: 1
Match number: 92, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 93, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Match number: 94, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 95, Difference: 16, Date: 2011-09-03, Home team: Kiribati, Away team: Papua New Guinea, Home score: 1, Away score: 17
Match number: 96, Difference: 16, Date: 2003-07-01, Home team: Greenland, Away team: Sark, Home score: 16, Away score: 0
Match number: 97, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 98, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 99, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 100, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Inserted flipped matches. Rows affected: 100
Time to execute complex query 2: 0.07934284210205078

## INDEXES

### Applying Indexes

In [136]:
database_name = 'football_db'
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

def drop_foreign_key(connection, table_name, constraint_name):
    # Drop the foreign key constraint
    query = f"ALTER TABLE {table_name} DROP FOREIGN KEY {constraint_name};"
    connection.execute(text(query))
    print(f"Dropped foreign key {constraint_name} from {table_name}.")

def recreate_foreign_key(connection, table_name, constraint_name, foreign_key_query):
    # Recreate the foreign key constraint
    connection.execute(text(foreign_key_query))
    print(f"Recreated foreign key {constraint_name} on {table_name}.")

# Execute index creation queries
try:
    with engine.connect() as connection:
        # Drop the foreign key constraint temporarily for the goalscorers table
        drop_foreign_key(connection, "goalscorers", "goalscorers_ibfk_1")  # Replace 'goalscorers_ibfk_1' with the actual constraint name if it's different

        # Drop the index if it exists, then create it
        if index_exists(connection, "idx_match_id_goalscorers", "goalscorers"):
            try:
                connection.execute(text("DROP INDEX idx_match_id_goalscorers ON goalscorers;"))
                print("Dropped index idx_match_id_goalscorers from goalscorers.")
            except Exception as e:
                print(f"Error dropping index idx_match_id_goalscorers: {e}")
        
        # Create the index
        connection.execute(text("CREATE INDEX idx_match_id_goalscorers ON goalscorers (match_id);"))
        print("Created index idx_match_id_goalscorers on goalscorers.")

        # Recreate the foreign key constraint
        recreate_foreign_key(connection, "goalscorers", "goalscorers_ibfk_1", "ALTER TABLE goalscorers ADD CONSTRAINT goalscorers_ibfk_1 FOREIGN KEY (match_id) REFERENCES matches(match_id);")
        
        # Continue with other index creations
        index_queries = [
            ("idx_home_team_away_team_date", "matches", "CREATE INDEX idx_home_team_away_team_date ON matches (home_team, away_team, date);"),
            ("idx_home_team", "matches", "CREATE INDEX idx_home_team ON matches (home_team);"),
            ("idx_away_team", "matches", "CREATE INDEX idx_away_team ON matches (away_team);"),
            ("idx_date", "matches", "CREATE INDEX idx_date ON matches (date);"),
            ("idx_tournament_city_country", "matches", "CREATE INDEX idx_tournament_city_country ON matches (tournament, city, country);"),
            ("idx_scorer", "goalscorers", "CREATE INDEX idx_scorer ON goalscorers (scorer);"),
            ("idx_match_id_shootouts", "shootouts", "CREATE INDEX idx_match_id_shootouts ON shootouts (match_id);")
        ]
        
        # Drop the index if it exists, then create it
        for index_name, table_name, create_query in index_queries:
            if index_exists(connection, index_name, table_name):
                try:
                    connection.execute(text(f"DROP INDEX {index_name} ON {table_name};"))
                    print(f"Dropped index {index_name} from {table_name}.")
                except Exception as e:
                    print(f"Error dropping index {index_name}: {e}")
            
            # Create the index
            connection.execute(text(create_query))
            print(f"Created index {index_name} on {table_name}.")
        
        print("Indexes created successfully.")
except Exception as e:
    print(f"Error creating indexes: {e}")

Error creating indexes: (mysql.connector.errors.ProgrammingError) 1091 (42000): Can't DROP 'goalscorers_ibfk_1'; check that column/key exists
[SQL: ALTER TABLE goalscorers DROP FOREIGN KEY goalscorers_ibfk_1;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Queries on MongoDB only with Indexes

falta fazer

### Queries on SQL only with Indexes

In [137]:
engine.dispose()

database_name = 'football_db'
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(db_url)

# Query 1
query1 = text("""
SELECT *
FROM matches
WHERE (
        (home_team = 'Portugal' AND home_score > 3) OR
        (away_team = 'Portugal' AND away_score > 3)
      )
  AND date > '2003-12-31';
""")

with engine.connect() as connection:
    start_time = time.time()
    results1 = connection.execute(query1)
    sql_indexed_sq1_time = time.time() - start_time
    print("Time to execute query 1:", sql_indexed_sq1_time)
    print("Results for Query 1:")
    for result in results1:
        print(result)

# Query 2
query2 = text("""
SELECT *
FROM matches
WHERE 
    (home_team = 'Australia' AND away_team = 'Sweden') OR
    (home_team = 'Sweden' AND away_team = 'Australia');
""")

with engine.connect() as connection:
    start_time = time.time()
    results2 = connection.execute(query2)
    sql_indexed_sq2_time = time.time() - start_time
    print("Time to execute query 2:", sql_indexed_sq2_time)
    print("Results for Query 2:")
    for result in results2:
        print(result)
        
print("\n\n\n")

total_unique_original = df_results[['city', 'country']].drop_duplicates().shape[0]
print(f"Total de combinações únicas no DataFrame original: {total_unique_original}")

total_unique_locations = unique_locations.shape[0]
print(f"Total de combinações únicas em unique_locations: {total_unique_locations}")
        
# Query to print all the locations -> 2208 PENSO QUE NO SQL SÃO 2203
# query_locations = text("""
# SELECT *
# FROM locations;
# """)

# with engine.connect() as connection:
#     results_locations = connection.execute(query_locations)
#     print("Results for Query locations:")
#     for result in results_locations:
#         print(result)


# SQL query to get team pairs with match counts
team_pairs_query = """
WITH normalized_matches AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
)
SELECT 
    team1 AS home_team, 
    team2 AS away_team, 
    COUNT(*) AS match_count
FROM normalized_matches
GROUP BY team1, team2
HAVING COUNT(*) > 100;
"""
start_time = time.time()
try:
    with engine.connect() as connection:
        result = connection.execute(text(team_pairs_query))
        # Convert rows into a list of dictionaries
        team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
        
        # Print the results in the desired format
        print("Teams that have played with each other at least 100 times:")
        for team_pair in team_pairs:
            print(
                f"Home team:  {team_pair['home_team']} , "
                f"Away team:  {team_pair['away_team']} , "
                f"Count:  {team_pair['count']}"
            )
except Exception as e:
    print(f"Error fetching team pairs: {e}")

# SQL query to update matches
update_matches_query = """
WITH team_pairs AS (
    SELECT 
        CASE 
            WHEN home_team < away_team THEN home_team
            ELSE away_team
        END AS team1,
        CASE 
            WHEN home_team < away_team THEN away_team
            ELSE home_team
        END AS team2
    FROM matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100
)
UPDATE matches
SET neutral = TRUE
WHERE (
        (home_team, away_team) IN (
            SELECT team1, team2 FROM team_pairs
        ) 
        OR 
        (home_team, away_team) IN (
            SELECT team2, team1 FROM team_pairs
        )
      )
  AND (home_score + away_score) > 5;
"""

try:
    with engine.connect() as connection:
        result = connection.execute(text(update_matches_query))
        matched_count = result.rowcount
        sql_indexed_cq1_time = time.time() - start_time
        print("Time to execute the complex query 1:", sql_indexed_cq1_time)
        print(f"Matched count:  {matched_count}")
        print(f"Modified count:  {matched_count}")  # Assuming all matched rows are modified
except Exception as e:
    print(f"Error updating matches: {e}")

# Query to fetch matches with the most difference
most_difference_query = """
SELECT 
    match_id,
    ABS(home_score - away_score) AS difference,
    date,
    home_team,
    away_team,
    home_score,
    away_score,
    tournament,
    city,
    country,
    neutral
FROM matches
ORDER BY difference DESC
LIMIT 100;
"""

# Query to insert flipped matches
insert_flipped_matches_query = """
INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
SELECT 
    date,
    away_team AS home_team,
    home_team AS away_team,
    away_score AS home_score,
    home_score AS away_score,
    tournament,
    city,
    country,
    neutral
FROM (
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        tournament,
        city,
        country,
        neutral
    FROM matches
    ORDER BY difference DESC
    LIMIT 100
) AS top_matches;
"""

start_time = time.time()
# Fetch matches with most difference
try:
    with engine.connect() as connection:
        # Execute the query
        result = connection.execute(text(most_difference_query))
        
        # Process results
        matches_with_most_difference = [
            {
                "match_id": row[0],  # Adjust indices to match query column order
                "difference": row[1],
                "date": row[2],
                "home_team": row[3],
                "away_team": row[4],
                "home_score": row[5],
                "away_score": row[6],
                "tournament": row[7],
                "city": row[8],
                "country": row[9],
                "neutral": row[10],
            }
            for row in result
        ]
        
        # Print matches in the desired format
        print("Matches with the most difference between the home_score and away_score:")
        for idx, match in enumerate(matches_with_most_difference, start=1):
            print(
                f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
                f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
                f"Home score: {match['home_score']}, Away score: {match['away_score']}"
            )

        # Insert flipped matches
        result = connection.execute(text(insert_flipped_matches_query))
        print(f"Inserted flipped matches. Rows affected: {result.rowcount}")
        sql_indexed_cq2_time = time.time() - start_time
        print("Time to execute the complex query 2:", sql_indexed_cq2_time)

except Exception as e:
    print(f"Error processing matches: {e}")

Time to execute query 1: 0.025357961654663086
Results for Query 1:
(28222, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 'Friendly', 'Setúbal', 'Portugal', 0)
(28578, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 'FIFA World Cup qualification', 'Leiria', 'Portugal', 0)
(28694, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 'FIFA World Cup qualification', 'Lisbon', 'Portugal', 0)
(28762, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 'FIFA World Cup qualification', 'Luxembourg', 'Luxembourg', 0)
(29057, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 'Friendly', 'Barcelos', 'Portugal', 0)
(29420, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 'FIFA World Cup qualification', 'Faro', 'Portugal', 0)
(29937, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 'Friendly', 'Évora', 'Portugal', 0)
(30707, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(32209, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 'Friendly', 'Aveiro', 'Portugal', 0)
(32272, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 'FIFA World Cup qualification', 'Attard', 'Malta', 0)
(33384, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 'FIFA World Cup qualification', 'Guimarães', 'Portugal', 0)
(33868, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 'FIFA World Cup', 'Cape Town', 'South Africa', 1)
(33993, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 'UEFA Euro qualification', 'Guimarães', 'Portugal', 0)
(34316, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(34997, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 'Friendly', 'Faro', 'Portugal', 0)
(35063, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 'UEFA Euro qualification', 'Nicosia', 'Cyprus', 0)
(35245, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 'UEFA Euro qualification', 'Porto', 'Portugal', 0)
(35450, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(37182, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 'FIFA World Cup qualification', 'Belfast', 'Northern Ireland', 0)
(37572, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 'Friendly', 'Leiria', 'Portugal', 0)
(37798, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 'Friendly', 'East Rutherford', 'United States', 1)
(39787, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(39938, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 'Friendly', 'Porto', 'Portugal', 0)
(40072, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 'FIFA World Cup qualification', 'Aveiro', 'Portugal', 0)
(40117, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 'FIFA World Cup qualification', 'Tórshavn', 'Faroe Islands', 0)
(40240, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 'FIFA World Cup qualification', 'Faro', 'Portugal', 0)
(40539, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 'Friendly', 'Estoril', 'Portugal', 0)
(40701, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 'Confederations Cup', 'Saint Petersburg', 'Russia', 1)
(40839, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 'FIFA World Cup qualification', 'Porto', 'Portugal', 0)
(42828, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 'UEFA Euro qualification', 'Belgrade', 'Serbia', 0)
(42890, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 'UEFA Euro qualification', 'Vilnius', 'Lithuania', 0)
(43124, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 'UEFA Euro qualification', 'Faro-Loulé', 'Portugal', 0)
(43336, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 'UEFA Nations League', 'Porto', 'Portugal', 0)
(43510, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(44010, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(44521, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 'FIFA World Cup qualification', 'Faro-Loulé', 'Portugal', 0)
(45171, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 'UEFA Nations League', 'Lisbon', 'Portugal', 0)
(45475, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 'UEFA Nations League', 'Prague', 'Czech Republic', 0)
(45606, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(45705, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 'FIFA World Cup', 'Lusail', 'Qatar', 1)
(45809, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(45887, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 'UEFA Euro qualification', 'Luxembourg', 'Luxembourg', 0)
(46363, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 'UEFA Euro qualification', 'São João da Venda', 'Portugal', 0)
(46527, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 'UEFA Euro qualification', 'Zenica', 'Bosnia and Herzegovina', 0)
(46987, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 'Friendly', 'Guimarães', 'Portugal', 0)
(47123, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 'Friendly', 'Lisbon', 'Portugal', 0)
Time to execute query 2: 0.023159027099609375
Results for Query 2:
(18099, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 'Friendly', 'Sydney', 'Australia', 0)
(18102, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 'Friendly', 'Adelaide', 'Australia', 0)
(18104, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 'Friendly', 'Melbourne', 'Australia', 0)
(20851, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 'Friendly', 'Brisbane', 'Australia', 0)
(20854, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 'Friendly', 'Sydney', 'Australia', 0)




Total de combinações únicas no DataFrame original: 2208
Total de combinações únicas em unique_locations: 2208
Teams that have played with each other at least 100 times:
Home team:  England , Away team:  Scotland , Count:  118
Home team:  Scotland , Away team:  Wales , Count:  106
Home team:  England , Away team:  Wales , Count:  105
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Guernsey , Away team:  Jersey , Count:  119
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Kenya , Away team:  Uganda , Count:  110
Time to execute the complex query 1: 0.13741111755371094
Matched count:  229
Modified count:  229
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 2, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 3, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 4, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 5, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 6, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 7, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 8, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 9, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 10, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 11, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 12, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 13, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 14, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 15, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 16, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 17, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 18, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 19, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 20, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 21, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 22, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 23, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 24, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 25, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 26, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 27, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 28, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 29, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 30, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 31, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 32, Difference: 16, Date: 2012-09-05, Home team: Martinique, Away team: British Virgin Islands, Home score: 16, Away score: 0
Match number: 33, Difference: 16, Date: 2011-09-05, Home team: Kiribati, Away team: Tahiti, Home score: 1, Away score: 17
Match number: 34, Difference: 16, Date: 2003-07-01, Home team: Greenland, Away team: Sark, Home score: 16, Away score: 0
Match number: 35, Difference: 16, Date: 2012-01-14, Home team: Gozo, Away team: Raetia, Home score: 17, Away score: 1
Match number: 36, Difference: 16, Date: 2011-09-03, Home team: Kiribati, Away team: Papua New Guinea, Home score: 1, Away score: 17
Match number: 37, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 38, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Match number: 39, Difference: 15, Date: 1998-12-05, Home team: Mongolia, Away team: Uzbekistan, Home score: 0, Away score: 15
Match number: 40, Difference: 15, Date: 2015-09-03, Home team: Qatar, Away team: Bhutan, Home score: 15, Away score: 0
Match number: 41, Difference: 15, Date: 2003-07-03, Home team: Frøya, Away team: Sark, Home score: 15, Away score: 0
Match number: 42, Difference: 15, Date: 1971-09-11, Home team: Cook Islands, Away team: Papua New Guinea, Home score: 1, Away score: 16
Match number: 43, Difference: 15, Date: 2005-03-07, Home team: Guam, Away team: Hong Kong, Home score: 0, Away score: 15
Match number: 44, Difference: 15, Date: 2007-08-29, Home team: American Samoa, Away team: Vanuatu, Home score: 0, Away score: 15
Match number: 45, Difference: 15, Date: 2012-06-04, Home team: Northern Cyprus, Away team: Darfur, Home score: 15, Away score: 0
Match number: 46, Difference: 15, Date: 1991-09-09, Home team: Guam, Away team: Tahiti, Home score: 0, Away score: 15
Match number: 47, Difference: 15, Date: 1963-11-15, Home team: Egypt, Away team: Laos, Home score: 15, Away score: 0
Match number: 48, Difference: 15, Date: 2019-11-10, Home team: Trinidad and Tobago, Away team: Anguilla, Home score: 15, Away score: 0
Match number: 49, Difference: 15, Date: 2012-09-28, Home team: Saint Pierre and Miquelon, Away team: New Caledonia, Home score: 1, Away score: 16
Match number: 50, Difference: 14, Date: 1966-11-30, Home team: North Korea, Away team: Yemen, Home score: 14, Away score: 0
Match number: 51, Difference: 14, Date: 2019-07-15, Home team: Tonga, Away team: Vanuatu, Home score: 0, Away score: 14
Match number: 52, Difference: 14, Date: 2017-03-28, Home team: Oman, Away team: Bhutan, Home score: 14, Away score: 0
Match number: 53, Difference: 14, Date: 1983-08-20, Home team: Niue, Away team: Tahiti, Home score: 0, Away score: 14
Match number: 54, Difference: 14, Date: 1946-12-15, Home team: Curaçao, Away team: Puerto Rico, Home score: 14, Away score: 0
Match number: 55, Difference: 14, Date: 1973-08-17, Home team: Algeria, Away team: Yemen, Home score: 15, Away score: 1
Match number: 56, Difference: 14, Date: 1998-04-19, Home team: Guyana, Away team: Anguilla, Home score: 14, Away score: 0
Match number: 57, Difference: 14, Date: 1963-11-11, Home team: North Korea, Away team: Somalia, Home score: 14, Away score: 0
Match number: 58, Difference: 14, Date: 2007-06-21, Home team: Hong Kong, Away team: Guam, Home score: 15, Away score: 1
Match number: 59, Difference: 14, Date: 2006-11-23, Home team: Sápmi, Away team: Monaco, Home score: 14, Away score: 0
Match number: 60, Difference: 14, Date: 1971-09-15, Home team: Cook Islands, Away team: Fiji, Home score: 1, Away score: 15
Match number: 61, Difference: 14, Date: 2019-10-10, Home team: Iran, Away team: Cambodia, Home score: 14, Away score: 0
Match number: 62, Difference: 14, Date: 2023-11-18, Home team: France, Away team: Gibraltar, Home score: 14, Away score: 0
Match number: 63, Difference: 14, Date: 1962-08-26, Home team: Malaysia, Away team: Philippines, Home score: 15, Away score: 1
Match number: 64, Difference: 14, Date: 2021-03-30, Home team: Japan, Away team: Mongolia, Home score: 14, Away score: 0
Match number: 65, Difference: 14, Date: 2005-05-03, Home team: Occitania, Away team: Chechnya, Home score: 14, Away score: 0
Match number: 66, Difference: 13, Date: 1995-08-17, Home team: Tahiti, Away team: Wallis Islands and Futuna, Home score: 13, Away score: 0
Match number: 67, Difference: 13, Date: 1966-04-06, Home team: Libya, Away team: Yemen, Home score: 13, Away score: 0
Match number: 68, Difference: 13, Date: 1917-05-07, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 69, Difference: 13, Date: 1981-08-16, Home team: New Zealand, Away team: Fiji, Home score: 13, Away score: 0
Match number: 70, Difference: 13, Date: 1998-04-15, Home team: Grenada, Away team: Anguilla, Home score: 14, Away score: 1
Match number: 71, Difference: 13, Date: 1882-02-18, Home team: Northern Ireland, Away team: England, Home score: 0, Away score: 13
Match number: 72, Difference: 13, Date: 1917-05-10, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 73, Difference: 13, Date: 1992-08-18, Home team: Ethiopia, Away team: Iraq, Home score: 0, Away score: 13
Match number: 74, Difference: 13, Date: 1991-09-12, Home team: Fiji, Away team: Guam, Home score: 14, Away score: 1
Match number: 75, Difference: 13, Date: 2001-04-07, Home team: Fiji, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 76, Difference: 13, Date: 2019-07-08, Home team: Tuvalu, Away team: Solomon Islands, Home score: 0, Away score: 13
Match number: 77, Difference: 13, Date: 2012-09-22, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon, Home score: 13, Away score: 0
Match number: 78, Difference: 13, Date: 2018-09-10, Home team: Haiti, Away team: Sint Maarten, Home score: 13, Away score: 0
Match number: 79, Difference: 13, Date: 1933-05-21, Home team: Spain, Away team: Bulgaria, Home score: 13, Away score: 0
Match number: 80, Difference: 13, Date: 1979-08-31, Home team: Kiribati, Away team: Papua New Guinea, Home score: 0, Away score: 13
Match number: 81, Difference: 13, Date: 2006-09-06, Home team: San Marino, Away team: Germany, Home score: 0, Away score: 13
Match number: 82, Difference: 13, Date: 1940-09-01, Home team: Germany, Away team: Finland, Home score: 13, Away score: 0
Match number: 83, Difference: 13, Date: 2021-06-05, Home team: Panama, Away team: Anguilla, Home score: 13, Away score: 0
Match number: 84, Difference: 13, Date: 2019-07-15, Home team: Solomon Islands, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 85, Difference: 13, Date: 1997-06-11, Home team: Australia, Away team: Solomon Islands, Home score: 13, Away score: 0
Match number: 86, Difference: 13, Date: 2001-04-14, Home team: Saint Lucia, Away team: United States Virgin Islands, Home score: 14, Away score: 1
Match number: 87, Difference: 13, Date: 1950-04-14, Home team: Mauritius, Away team: Réunion, Home score: 15, Away score: 2
Match number: 88, Difference: 13, Date: 1981-07-08, Home team: Tahiti, Away team: Western Samoa, Home score: 13, Away score: 0
Match number: 89, Difference: 13, Date: 1998-08-01, Home team: Palau, Away team: Guam, Home score: 2, Away score: 15
Match number: 90, Difference: 13, Date: 2004-02-29, Home team: Bermuda, Away team: Montserrat, Home score: 13, Away score: 0
Match number: 91, Difference: 13, Date: 1999-06-28, Home team: Hitra, Away team: Isle of Man, Home score: 0, Away score: 13
Match number: 92, Difference: 12, Date: 1998-09-07, Home team: Tahiti, Away team: American Samoa, Home score: 12, Away score: 0
Match number: 93, Difference: 12, Date: 1969-05-21, Home team: Germany, Away team: Cyprus, Home score: 12, Away score: 0
Match number: 94, Difference: 12, Date: 2003-12-03, Home team: Maldives, Away team: Mongolia, Home score: 12, Away score: 0
Match number: 95, Difference: 12, Date: 2004-11-24, Home team: Jamaica, Away team: Saint Martin, Home score: 12, Away score: 0
Match number: 96, Difference: 12, Date: 1950-09-24, Home team: Hungary, Away team: Albania, Home score: 12, Away score: 0
Match number: 97, Difference: 12, Date: 2006-02-18, Home team: Monaco, Away team: Chechnya, Home score: 13, Away score: 1
Match number: 98, Difference: 12, Date: 1993-12-13, Home team: Fiji, Away team: Guam, Home score: 12, Away score: 0
Match number: 99, Difference: 12, Date: 1927-06-12, Home team: Hungary, Away team: France, Home score: 13, Away score: 1
Match number: 100, Difference: 12, Date: 1967-08-23, Home team: Denmark, Away team: Iceland, Home score: 14, Away score: 2
Inserted flipped matches. Rows affected: 100
Time to execute the complex query 2: 0.05393099784851074

## QUERIES WITH THE TWO OPTIMIZATIONS

### TOP QUERIES MONGODB

falta fazer

### TOP QUERIES SQL

falta fazer

## COMPARISON OF TIMES

### MongoDB

In [138]:
# Simple queries
print("MongoDB Basic Simple Query 1 Time:", mongo_basic_sq1_time)
print("MongoDB Optimized Simple Query 1 Time:", mongo_optimized_sq1_time)
if (mongo_basic_sq1_time - mongo_optimized_sq1_time):
    print("MongoDB Optimized Simple Query 1 is faster by: ", mongo_basic_sq1_time - mongo_optimized_sq1_time)
else:
    print("MongoDB Basic Simple Query 1 is faster by: ", mongo_optimized_sq1_time - mongo_basic_sq1_time)
print("\n")

print("MongoDB Basic Simple Query 2 Time:", mongo_basic_sq2_time)
print("MongoDB Optimized Simple Query 2 Time:", mongo_optimized_sq2_time)
if (mongo_basic_sq2_time - mongo_optimized_sq2_time):
    print("MongoDB Optimized Simple Query 2 is faster by: ", mongo_basic_sq2_time - mongo_optimized_sq2_time)
else:
    print("MongoDB Basic Simple Query 2 is faster by: ", mongo_optimized_sq2_time - mongo_basic_sq2_time)
print("\n")

# Complex queries
print("MongoDB Basic Complex Query 1 Time:", mongo_basic_cq1_time)
print("MongoDB Optimized Complex Query 1 Time:", mongo_optimized_cq1_time)
if (mongo_basic_cq1_time - mongo_optimized_cq1_time):
    print("MongoDB Optimized Complex Query 1 is faster by: ", mongo_basic_cq1_time - mongo_optimized_cq1_time)
else:
    print("MongoDB Basic Complex Query 1 is faster by: ", mongo_optimized_cq1_time - mongo_basic_cq1_time)
print("\n")

print("MongoDB Basic Complex Query 2 Time:", mongo_basic_cq2_time)
print("MongoDB Optimized Complex Query 2 Time:", mongo_optimized_cq2_time)
if (mongo_basic_cq2_time - mongo_optimized_cq2_time):
    print("MongoDB Optimized Complex Query 2 is faster by: ", mongo_basic_cq2_time - mongo_optimized_cq2_time)
else:
    print("MongoDB Basic Complex Query 2 is faster by: ", mongo_optimized_cq2_time - mongo_basic_cq2_time)

NameError: name 'mongo_basic_sq1_time' is not defined

### SQL

In [ ]:
# Simple queries
print("SQL Basic Simple Query 1 Time:", sql_basic_sq1_time)
print("SQL Optimized Simple Query 1 Time:", sql_optimized_sq1_time)
print("SQL Indexed Simple Query 1 Time:", sql_indexed_sq1_time)
print("\n")

print("SQL Basic Simple Query 2 Time:", sql_basic_sq2_time)
print("SQL Optimized Simple Query 2 Time:", sql_optimized_sq2_time)
print("SQL Indexed Simple Query 2 Time:", sql_indexed_sq2_time)
print("\n")

# Complex queries
print("SQL Basic Complex Query 1 Time:", sql_basic_cq1_time)
#print("SQL Optimized Complex Query 1 Time:", sql_optimized_cq1_time)
print("SQL Indexed Complex Query 1 Time:", sql_indexed_cq1_time)
print("\n")

print("SQL Basic Complex Query 2 Time:", sql_basic_cq2_time)
#print("SQL Optimized Complex Query 2 Time:", sql_optimized_cq2_time)
print("SQL Indexed Complex Query 2 Time:", sql_indexed_cq2_time)